@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-size: 12px;
}
:root {
	--clr-white: #fff;
	--clr-blue-1: #5f23dc;
	--clr-black-0: #000;
	--clr-black-1: #777;
	--clr-black-2: #333;
	--clr-gray-1: #ddd;
}
/*---------------------------------------------*/
body {
	background-color: var(--clr-black-0);
}
/*---------wrapper-----------------------------*/
.wrapper {
	width: 75vw;
	height: auto;
	background-color: var(--clr-white);
	margin: 0 auto;
}
@media screen and (max-width: 500px) {
	.wrapper {
		width: 100vw;
	}
}
/*-----------------------nav section-----------------------*/
.hamburger-menu {
	display: none;
	position: relative;
}
#hamburger-ul {
	list-style: none;
	display: none;
	width: 10rem;
	height: auto;
	position: absolute;
	top: 4rem;
	right: 1rem;
	z-index: 1;
}
#hamburger-ul li {
	line-height: 1.5;
	text-align: left;
	margin-left: 1rem;
	border-bottom: 1px solid #eee;
	color: #777;
}
/*-------------------hamburger menu------------------------*/
.nav {
	width: 100%;
	height: 6rem;
	display: flex;
	align-items: center;
	padding: 0 4rem 0 6rem;
}
.left a {
	text-decoration: none;
	font-weight: 900;
}
.mid-ul {
	list-style-type: none;
	color: rgba(0, 0, 0, 0.7);
	margin-left: 15rem;
}
.mid-ul li {
	display: inline;
	margin-left: 2rem;
}
.right-ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	margin-left: 15rem;
}
.right-ul li {
	display: inline;
	margin-right: 3rem;
}
.sign-in-item {
	padding-top: 10px;
	font-weight: bold;
}
.sign-up-btn {
	background-color: var(--clr-blue-1);
	padding: 1rem 1.5rem;
	border: transparent;
	color: var(--clr-white);
	font-weight: bold;
	border-radius: 5px;
}
@media screen and (max-width: 500px) {
	.nav {
		display: none;
	}
	.hamburger-menu {
		display: flex;
		justify-content: space-between;
		padding: 2rem 2rem 0 2rem;
	}
	.left a {
		color: var(--clr-black-0);
	}
}

/*-----------------------intro section-----------------------*/
.intro {
	width: 100%;
	height: auto;
	padding: 0 6rem;
	display: flex;
}
.intro-text-box {
	width: 50%;
	padding: 10rem 1.25rem;
}
.fa-star {
	color: orange;
	font-size: 0.9rem;
}
.rating span {
	margin-left: 1rem;
	color: var(--clr-black-2);
}
.intro-text-box p {
	line-height: 1.5;
	margin-top: 1.25rem;
}
.intro-text-box h2 {
	font-size: 36px;
	font-weight: bold;
	padding-top: 1rem;
}
.trial-btn {
	padding: 1rem 2.5rem;
	background: var(--clr-blue-1);
	color: var(--clr-white);
	border: none;
	margin-right: 3rem;
	border-radius: 5px;
	font-weight: bold;
}
.btn-box {
	margin: 1.25rem 0;
}
.clr-blue-1 {
	color: var(--clr-blue-1);
	font-weight: 900;
}

.check-circle-box {
	display: flex;
}
.check-circle-icon {
	padding-top: 0.5rem;
}
.check-circle-span {
	color: #aaa;
	margin-right: 1rem;
	margin-left: 0.5rem;
}
.sub-box {
	padding-top: 2rem;
}
.sub-box-icon {
	margin-bottom: 1.5rem;
	font-size: 18px;
}
.intro-img-box {
	width: 50%;
}
.intro-img-box img {
	width: 400px;
	height: 400px;
	max-width: 100%;
}

@media screen and (max-width: 500px) {
	* {
		font-size: 1rem;
	}
	.intro {
		width: 100vw;
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 3rem;
		padding: 0 2.5rem;
	}
	.intro-text-box {
		width: 100%;
		padding: 1rem;
		color: var(--clr-black-1);
	}
	.intro-text-box h2 {
		font-size: 36px;
		color: var(--clr-black-0);
	}
	.rating {
		display: none;
	}
	.intro-img-box {
		width: 100%;
	}
	.intro-img-box img {
		width: 360px;
		height: 360px;
		max-width: 100%;
	}

	.btn-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 1.25rem;
	}
	.trial-btn {
		display: block;
		width: 100%;
		margin-bottom: 1rem;
		margin-right: 0;
	}
	.clr-blue-1 {
		margin-top: 0.75rem;
	}
	.check-circle-box {
		display: flex;
		flex-direction: column;
	}
	.check-circle-icon {
		padding-top: 0.5rem;
	}
	.check-circle-span {
		color: var(--clr-black-1);

		margin-left: 0.5rem;
	}
}
/*----------------------usage section-----------------------*/

.usage {
	width: 100%;
	height: auto;
	padding: 0 6rem;
	display: flex;
	flex-direction: column;
}
.section-heading {
	font-size: 24px;
	padding-top: 1rem;
}
.box {
	width: 100%;
	height: 200px;
	display: flex;
	padding-top: 1.5rem;
}
.sub-box {
	width: 33.3%;
	height: 100%;
	margin: 0 1rem;
}
.sub-box-heading {
	font-weight: bold;
	padding-bottom: 1rem;
}
.sub-box-para {
	color: var(--clr-black-1);
	line-height: 1.75;
}
@media screen and (max-width: 500px) {
	.usage {
		padding: 0 1rem;
	}
	.clr-blue-1 {
		padding-left: 1rem;
	}
	.section-heading {
		font-size: 36px;
		padding: 1rem;
	}
	.box {
		display: flex;
		flex-direction: column;
		height: auto;
		padding-bottom: 1rem;
	}
	.sub-box {
		width: 100%;
		height: auto;
		padding: 1rem;
	}
}
/*------------------------image section--------------------------*/
.image-section {
	width: 100%;
	height: auto;
	border-radius: 10px;
	padding: 4rem 6rem;
	margin: 0 auto;
}
.image-section-box {
	display: flex;
	background: var(--clr-blue-1);
	width: 100%;
	height: auto;
	padding-top: 2.5rem;
	padding-right: 2.5rem;
	border-radius: 10px;
}
.image-text-box {
	width: 45%;
	color: var(--clr-white);
	padding: 8rem 1rem 0 2rem;
}
.image-text-box-heading {
	color: var(--clr-white);
	line-height: 1.5;
	font-size: 2rem;
	font-weight: 900;
	margin-bottom: 0.5rem;
}
.image-text-box p {
	line-height: 1.5;

	text-align: justify;
	padding-right: 2rem;
	color: rgba(255, 255, 255, 0.8);
}
.image-section-trial-btn {
	padding: 1rem 2.5rem;
	background: var(--clr-white);
	color: var(--clr-blue-1);
	border: none;
	margin-right: 3rem;
	border-radius: 5px;
	font-weight: bold;
	margin-top: 2rem;
}
.img-box {
	width: 55%;
	height: 360px;
}
.img-box img {
	width: 480px;
	height: 360px;
	max-width: 100%;
}
@media screen and (max-width: 500px) {
	.image-section {
		padding: 1.5rem;
		margin: 0;
	}
	.image-section-box {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
	}
	.image-text-box {
		width: 100%;
		padding: 2rem;
		height: auto;
	}
	.image-text-box p {
		padding: 0 1.5rem;
	}
	.image-section-trial-btn {
		width: 80%;
		height: 3.5rem;
		display: block;
		text-align: center;
		margin: 2rem auto;
	}
	.img-box {
		width: 100%;
		height: auto;
		text-align: center;
	}
	.img-box img {
		width: 360px;
		height: 360px;
		max-width: 100%;
	}
}
/*----------------------review section----------------*/
.review-section {
	width: 100%;
	height: auto;
	padding: 0 6rem;
}
.review-box {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.review-sub-box {
	width: 30%;
	height: auto;
	border: 1px solid var(--clr-gray-1);
	border-radius: 10px;
	padding: 1rem;
}
.profile-box {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.name-box {
	display: flex;
	flex-direction: column;
	padding-top: 0.5rem;
}
.user-name {
	font-size: 1.1rem;
	color: var(--clr-blue-1);
}
.review {
	padding-top: 1.5rem;
	line-height: 1.5;
}
.profile-btn-box {
	display: flex;
	justify-content: center;
}
.profile-btn {
	display: block;
	padding: 0.75rem 1rem;
	margin-top: 3rem;
	border: 1px solid var(--clr-gray-1);
	background-color: var(--clr-white);
	color: var(--clr-blue-1);
	font-weight: bold;
}
@media screen and (max-width: 500px) {
	.review-section {
		padding: 1rem;
	}
	.review-box {
		display: flex;
		flex-direction: column;
	}
	.review-sub-box {
		width: 100%;
		margin-bottom: 1.5rem;
	}
}
/*---------------footer nav section----------------------*/
.footer-nav {
	width: 100%;
	height: auto;
	padding: 6rem;
	display: flex;
}
.footer-text {
	width: 40%;
	height: auto;
	padding: 1rem;
}
.footer-text p {
	color: rgba(0, 0, 0, 0.7);
	padding-top: 1rem;
	line-height: 1.5;
}
.footnote {
	padding-top: 3rem;
}
.fa-heart {
	color: red;
}
.footer-nav-box {
	width: 15%;
	height: auto;
	padding-top: 1rem;
}
.footer-nav-box ul {
	list-style-type: none;
	margin-top: 1rem;
}
.footer-nav-box ul li {
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 500px) {
	.footer-nav {
		display: flex;
		flex-direction: column;
		padding: 2rem;
	}

	.footer-text,
	.footer-nav-box {
		width: 100%;
		padding-top: 1rem;
	}

	.footer-text p {
		padding-top: 1rem;
	}
	.footer-nav-box h4,
	.footer-nav-box ul {
		padding-left: 1rem;
	}
	.footer-nav-box ul li {
		padding-bottom: 1rem;
	}
}
/*-------sign-up html file related additional styling here--------*/
.sign-up-container {
	width: 80vw;
	height: 90vh;
	margin: 5vh auto;
	display: flex;
	border: 1px solid #333;
	background-color: violet;
}
.form-container {
	background: var(--clr-white);
	width: 50%;
	height: 100%;
	border-right: 1px solid lightsalmon;
	padding: 2rem;
}
.sign-up-form {
	width: 100%;
	height: auto;
	padding: 1rem 6rem;
}
.form-logo {
	text-align: left;
	font-size: 1.1rem;
}
.form-heading {
	padding: 3rem 0 2rem 0;
	font-size: 2rem;
}
.input-div {
	margin-bottom: 2rem;
}
.input-div input {
	display: block;
	width: 100%;
	height: 3rem;
	margin-top: 1rem;
	padding-left: 1rem;
	border: 1px solid var(--clr-gray-1);
	color: var(--clr-gray-1);
}
label {
	font-weight: bold;
}
.sign-up-terms {
	display: flex;
	padding: 1rem;
	color: var(--clr-black-2);
	position: relative;
}
.check-box {
	position: absolute;
	top: 15px;
}
.sign-up-terms p {
	margin-left: 1.5rem;
	color: var(--clr-black-1);
	line-height: 1.5rem;
}
.sign-up-terms span {
	color: var(--clr-blue-1);
	font-weight: bold;
	text-decoration: underline;
	margin-left: 0.25rem;
}
.sign-up-button {
	width: 100%;
	height: 3rem;
	color: white;
	text-align: center;
	font-weight: bold;
	background: var(--clr-blue-1);
	margin: 1rem 0;
	border: none;
	border-radius: 5px;
}
.sign-up-foot-note {
	width: 100%;
	height: 2.5rem;
	text-align: center;
}
.sign-up-foot-note p {
	color: var(--clr-black-2);
}
.sign-up-foot-note span {
	color: var(--clr-blue-1);
}

.img-container {
	background: lightsteelblue;
	width: 50%;
	height: 100%;
	padding: 3rem;
	background: var(--clr-blue-1);
	color: var(--clr-white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.img-container-img-box {
	padding: 1rem;
}
.img-container-img-box img {
	width: 360px;
	height: 240px;
	max-width: 100%;
}
.sign-up-img-text {
	text-align: center;
}
.sign-up-img-text h2 {
	font-size: 24px;
	padding-top: 1rem;
}

.sign-up-img-text p {
	padding: 1rem 6rem;
}
.fa-ellipsis-h {
	color: rgba(255, 255, 255, 0.5);
	font-size: 2rem;
}
.ellipsis-para {
	display: flex;
}
#ellipsis-span {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
}

@media screen and (max-width: 500px) {
	.sign-up-container {
		width: 100vw;
		height: auto;
		margin: 0;
	}
	.form-container {
		background: var(--clr-white);
		width: 100%;
		height: 100%;
		padding-top: 3rem;
		border: none;
	}
	.sign-up-form {
		width: 100%;
		height: auto;
		padding: 0;
	}
	.form-logo {
		font-size: 1.2rem;
	}
	.form-heading {
		padding: 3rem 0;
		font-size: 2.5rem;
	}

	label {
		font-size: 1.1rem;
	}
	.sign-up-btn-box {
		text-align: center;
	}
	.sign-up-button {
		width: 100%;
		height: 3.75rem;
		font-size: 1.15rem;
	}
	.check-box {
		top: 20px;
	}
	.img-container {
		display: none;
	}
}
/*---------------------------------index.html styling----------------------*/
.btn-wrapper {
	width: 20vw;
	height: 20vh;
	background-color: aquamarine;
	margin: 20vh auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}
.page-link-btn {
	padding: 1rem 3rem;
	background-color: var(--clr-blue-1);
	border: none;
	margin-bottom: 1rem;
	border-radius: 5px;
}
.page-link-btn a {
	text-decoration: none;
	color: white;
	text-align: center;
}
