@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    min-height:100vh; 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
/* header - styling */
.header{
    height:20vh;
    width:100%;
    background-color: #00509D;
}
.logo-div{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:80vw;
    margin-left:10vw;
    height:10vh;
    color:white;
    padding-right:4rem;
    padding-left:4rem;
    padding-top:1.8rem;    
}
.logo{
    height:50px;
    width:50px; 
    background:transparent; 
    border:2px solid #fff; 
    font-weight:bold; 
    border-radius:50%;
    padding-top:15px;
    padding-left:8px;
    box-shadow: 2px 2px 5px #efefef;
}
.helpline{
    color:#fff;
}
.helpline i{
    margin-right:10px;
}
.helpline span{
    color:lightblue;
}
.header-links{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    width:80vw;
    margin-left:10vw;
    height:10vh;
    color:white;
}
.link{
    text-transform: capitalize;
    font-size:0.75rem;
    color:lightblue;
    font-weight: bold;
}
/* main styling */
.main{
    min-height:100vh;
    width:80vw;
    margin-left:10vw;
    margin-right:10vw;
    display:flex;
}
.sidebar{
    width:30%;
    height:100vh;
    background:white;
    border-right:1px solid #eee;
}
.contents-div{
    width:70%;
    min-height:100vh;
    background:white;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom:2rem;
    padding-top:20px;
}
.card{
    height:300px;
    width:200px;
    border-radius:10px;
    margin:10px;
    color:#777;
    box-shadow: 2px 2px 5px #333;
}
.hotel-name{
    font-weight:bold;
    padding-bottom:0.25rem;
    color:#333;
    font-size: 0.9rem;
    padding-left:10px;
    padding-top:10px;
}
.city{
    text-transform:capitalize;
    padding-right:10px;
    padding-left:10px;
    font-size:0.75rem;
}
.country{
    text-transform: capitalize;
    font-size:0.75rem;
}
.rating{
    padding-left:10px;
}
.rating i{
    color:yellow;
    margin-top:0.5rem;
    letter-spacing:0.10rem;
    font-size:0.75rem;
}
.btn-div{
    height:30px;
    width:100%;
    margin-top:10px;
    border-top:1px solid #aaa;
    padding-top:0.5rem;
    font-size:0.8rem;
}
.price-span{
    font-weight:bold;
    width:50%;
    padding-left:10px;    
    text-align:center;
    padding-right:30px;
}
.details-span{
    font-weight: bold;
    padding-left:30px;
}
.img-box{
    height:180px;
    width:200px;
}
.img-box img{
    height:180px;
    width:100%;
    object-fit: cover;
}

.content-box{
    height:120px;    
    background:#efefef;
}
/* bottom-side-links section - styling */
.bottom-side-links-section{
    height:40vh;
    width:100vw;
    padding-left:10vw;
    padding-right:10vw;
    color:white;
    display:flex;
    background-color: #444;
}
.address-box{
    width:30%;
    height:100%;
    color:#aaa;
    padding:1.25rem 1rem;
    font-size: 00.75rem;
}
.address-box h3{
    padding-bottom:0.75rem;
}
.address-box p{    
    padding-bottom:0.25rem;
}

.partner-links-nav,
.cc-links-nav{
    width:20%;
    height:100%; 
    display: flex;
    flex-direction: column;
    color:#aaa;
}
.cc-links-nav h4,
.partner-links-nav h4{
    padding:1.25rem 0.75rem;
}
.cc-links-nav a,
.partner-links-nav a{
    display: block;
    font-size:0.75rem;
    line-height: 20px;
    padding-left: 1rem;
    text-transform: capitalize;
}

.subscribe-box{
    width:30%;
    height:100%;
    color:#ddd;
}

.input-div{
    padding-top:0.75rem;
}
.input-div-title{
    padding:0.75rem 0;
    text-transform: uppercase;
    font-size:0.75rem;
    letter-spacing: 0.05rem;
}
.input-box{
    width:90%;
    margin-bottom:20px;
}
.input-box input{
    width:80%;
    height:35px;
    border:none;
    padding-left:30px;
}
.input-box input::placeholder{
    color:#aaa;
}
.input-box button{
    width:20%;
    height:35px;
    text-align:center;
    background:#1D32f2;
    color:white;
    border:none;
    font-weight:bold;
    letter-spacing: 0.05rem;
}

.social-media-div{
    padding-top:0.5rem;
    border-top:1px solid #aaa;
    
}
.social-media-div-title{
    padding-bottom:1rem;
    padding-top:0.5rem;
    text-transform: uppercase;
    font-size:0.75rem;
    letter-spacing: 0.05rem
}
.sm-span{
    margin:0.5rem;
    font-size:2rem;
    cursor: pointer;
}
/* footer - styling */
.footer{
    height:8vh;
    width:100vw;    
    background:#333;
    display:flex;
    justify-content: center;
    align-items:center;
    
}
.footer-links{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    width:40vw;
    margin-left:30vw;
    margin-right:30vw;
    height:10vh;
    color:#aaa;
}
.footer-links .link{
    color:#aaa;
}