@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Indie+Flower&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #fedfd4;
    width:100vw;
    height:100vh;
    position:relative;
}
/*----------------------------*/
.wrapper{
    width:800px;
    height:100vh;
    background-color: #400000;
}
@media screen and (max-width:500px){
    .wrapper{
        width:300px;
        height:1000px;
    }
}
.container{
    width:600px;
    height:100vh;
    background-color:#400000;
}
@media screen and (max-width:500px){
    .container{
        width:300px;
        height:1000px;

        display:flex;
        flex-direction: column;
    }
}
.left-box{
    width:50%;
    height:80%;
    background-color: #65010c;
    z-index:90;
    padding-top:150px;    
}
.right-box{
    width:50%;
    height:80%;
    background-color: #fedfd4;
}

@media  screen and (max-width:500px){
    .left-box, .right-box{
        width:300px;
        height:500px;
    }
    .left-box{
        padding-top:100px;
    }
} 
.strip-1{
    width:302px;
    height:50px;
    background-color:#ef3c2d;
    position:absolute;
    bottom:110px;
    left:339px;
    box-shadow:5px 5px 8px #232323;
    z-index:99;
}
@media screen and (max-width:500px){
    .strip-1{
        top:250px;
        left:29px;
    }
}
.left-box h3{
    text-shadow:3px 3px #777;
}
.left-box h4{
    text-shadow:2px 2px #777;
}
form{
    padding-top:6rem;
}
form h4{
    padding-bottom:1.5rem;
}
.input-div{
    padding:1rem;
}
.input{
    border:none;
    border-bottom:2px solid #65010c;
    width:100%;
    background:transparent;
    color:#edc4b3;
    padding-left:1rem;
    font-size:18px;
    padding-bottom:0.5rem;
}
.btn-box{
    padding-top:2rem;   
}
.submit-btn{
    padding:8px 24px;
    color:white;
    font-weight:bold;
    background-color:#65010c;
    border-radius:20px;
}