/* ------------------------------------------------------------Global CSS settings --------------------------- */
/* removing default settings of browser*/
*{
	margin:0px;
	padding:0px;
}
body{
	background:rgb(220, 220, 160);
}
html{ /* background for complete page  */
	background-image:url(bg-8.jpg);
	background-image:cover;
}
/*-----------CSS settings of Navbar and its Buttons-------------------------------------------------------------- */
/* nav bar will be visible on clicking this icon */
#nav-icon{
	position:absolute;
	top:10px;
	right:50px;
}
/* three  bars inside nav-icon */
.icon-bar{
	height:5px;
	width:40px;
	background:white;
	margin-top:10px;
}/* this container holds nav buttons : kept hidden : visible only when mouse enters nav-icon */
#searchButtonHolder{
	height:142px;
	width:200px;
	position:absolute;
	right:0px;
	top:60px;	
	display:none;
}
/* class of buttons */
.searchButton{
	width:200px;
	height:40px;
	margin-bottom:10px;
	background:brown;
	color:white;
	font-weight:bold;
}
/*-------------------------------- CSS settings of Modals and   Forms inside it ---------------------------------------- */
/* all three modals kept hidden */
#firstModal{
	display:none;	
}
#secondModal{
	display:none;
}
#thirdModal{
	display:none;
}
/* class settings for all three modals */
.inputModal{
	min-width:300px;
	height:auto;
	background:rgba(255, 255, 255, 0.7);
	border:2px solid #aaa;
	color:#000;
	padding:30px;
	position:absolute;
	top:2%;
	right:10%;
	border-radius:10px;
	font-size:18px;
	font-family:Times New Roman;
	font-style:italic;
}
/* heading of modal aligned center */
.inputModal h2{
	text-align:center;
	margin-bottom:50px;
}
/* will contain input box and label */
.box{
	margin-top:15px;
	height:50px;
	width:400px;
}
/* float left */
label{
	float:left;
	font-weight:bold;
	margin-top:5px;
}
/* float right */
input{
 float:right;
 width:40px;
 height:20px;
 padding:5px 10px;
 
}

/* input box size widened to enter name or id */
#episodeId , #episodeName{
	width:200px;
}
/* submit class for all submit buttons of all modals */
.submit {
	clear:both;
	width:200px;
	height:30px;
	color:white;
	background:brown;
	border:1px solid brown;
	margin:20px 0px 0px 100px;
	font-weight:bold;
}
/* instructions regarding correct input  */
.message{
	color:blue;
}

/*----------------------------------CSS Settings of output table table and related Div elements -----------------*/
td , th{ /* padding to keep text look nice */
	padding:10px;
	text-align:left;	
}
/* td boxes size as per need */
#cell_1 {
	width:30%;
}
#cell_2{
	width:20%;
}
#cell_3{
	width:50%;
}

#heading h2{
	text-align:center;
}
#heading{
	padding:20px 0px;
}
/* container holding output data , will show up only after condition met and data recd from database */
#container{
	display:none;
	width:600px;
	height:auto;
	background:rgba(200, 200, 160, 0.9);
	border:2px solid #aaa;	
	position:absolute;
	top:3%;
	left:30%;
	border-radius:10px;
	border-bottom:5px solid #aaa;
	border-top:5px solid #aaa;
	font-size:18px;
	font-family:Times New Roman;
	margin-bottom:10px;
}
/* image holder div */
#photoDiv{
	background:rgb(50, 50, 50);
	height:220px;
}
/* image settings */
#photoDiv img{
	position:relative;
	top:10px;
	margin-left:17%;
}
/* div holding summary of episode : padding to keep text look nice*/
#detailsDiv{
	padding:25px;
	width:auto;
	height:auto;
	border-bottom:2px solid #aaa;
}
/*---------------------------------------------------Help Page CSS Settings -------------------------------------------------*/
/* helpBtn positioned will all its CSS properties    */
#helpBtn{
	position:absolute;
	top:400px;
	right:0px;	
	width:20px;
	height:120px;
	border-top-left-radius:30px;
	border-bottom-left-radius:30px;
	border:2px solid orange;	
	overflow-wrap:break-word; /* To show text vertically  */	
	background:orange;
	font-weight:bold;
	font-size:18px;	
	color:brown;
}
/* Help page visible only on clicking helpBtn , positioned and overflow linked with scrolling   */
#helpPage{
	display:none;
	width:600px;
	height:550px;
	position:absolute;
	top:20px;
	left:20px;	
	background:#eee;
	overflow-y:scroll;
	padding-left:40px;
	padding-bottom:40px;
}

#helpPage h3{
	text-align:center;
	margin:40px 0px 20px 0px;
}

#helpPage td, #helpPage th{
	border:1px solid #000;
	
}
#helpPage table{
	border-collapse:collapse;
}
/* To close Help Page , closeBtn positioned at top-right of page  */
#closeBtn{
	width:50px;
	height:20px;
	position:absolute;
	top:5px;
	right:5px;
	background:brown;
	color:white;
	border:2px solid brown;
	border-radius:5px;
	font-weight:bold;
}

