*{ /* zeroising brower default setting reg. margin padding     */
	margin:0;
	padding:0;
}
body{ /* setting bg-color and font      */
	background:#3AAFA9;
	font-size:16px;
	font-family:georgia;
}
.container{	/* wrapper div element     */
	width:100%;	
}
.bg-mycolor{ /* bg color used in container  */
	background:#17252A;
}
.row{ /* div - to set flexbox rules  */
	width:100%;
	height:auto;
	padding-top:5px;
	padding-bottom:5px;
	display:flex;	
}
.header{ /* header of page     */
	font-weight:bold;
	padding-top:5vh;
	padding-bottom:5vh;
	color:white;
	border-bottom:1px solid #aaa;
}
.header h1{ /* page heading inside header  */
	width:100%;
	text-align:center;
	font-family:Bradley Hand, cursive;
}
/*------------------------------------ select option settings---------------------------------  */
.select-container{ /* container div  holding select row and option criteria */
	width:100%;	
	padding:10px 0px;
}
.select-row{ /* row div holding select criteria */
	width:90%;
	margin-right:5%;
	margin-left:5%;
	display:flex; /* flexbox settings to keep inline-center */
	justify-content:center;
	align-items:center;
	height:auto;
	padding-bottom:10px;
}
select{ /* select element  */
	width:200px;
	height:40px;
	border:1px solid #aaa;	
	padding-left:20px;
	background:white;
	margin-top:10px;
}

/*------------------------------------ display Area  settings---------------------------------  */
.displayContainer{ /* div - will display information     */
	width:60%;
	margin-left:20%;
	background-color:#DEF2F1;
	border-bottom:1px solid #aaa;
	padding-top:2vh;
	color:#354;
}
.displayContainer:first-child{ /* first displayContainer      */
	margin-top:5px;
}
.displayContainer:last-child{ /* last displayContainer      */
	border:none;
	margin-bottom:5px;
}
.img-box{ /* div to hold image  */
	width:40%;
	padding-left:5%;
	padding-right:5%;
	display:flex;/*  to keep image in center of box    */
	align-items:center;
	justify-content:center;
}
.img-box img{
	max-width:200px;
	width:100%;
	height:150px;
}
.content-box{/* div to hold info on product      */
	width:60%;
	display:flex;  /* to keep info in center   */
	align-items:center;
	justify-content:center;
}
.btnRow{ /* row to hold button     */
	width:100%;
	display:flex;
	justify-content:space-between;
	height:auto;
}
.btn{/* button placed in container      */
	width:20%;
	margin-left:40%;
	text-align:center;
	background:#17252A;
	font-weight:bold;
	height:30px;
	margin-top:10px;	
	cursor:pointer;
	border-radius:7px;
	border:1px solid black;
	margin-bottom:1vh;
	color:white;
	text-decoration:none;
}
.btn:hover{ /* when button is hovered      */
	background:#3AAFA9;
	border:1px solid #3AAFA9;
	font-size:1.1rem;
}
.home-details{ /* to erase bullets etc. before li items      */
	list-style-type:none;
}

/* footer of the page : settings  */
.footer{ /* footer of page     */
	padding-top:1vh;
	padding-bottom:2vh;
	font-weight:bold;
	color:white;
}
.footer p { /* p element to hold text in footer     */
	width:100%;
	text-align:center;
}

/* modal area - a div  element visible on click of button   */
/* it holds modal     */
#modalArea{	
	width:100%;	
	height:100%;
	display:none;
	background:rgb(40, 200, 200, 0.8);
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	font-family:arial;
}
/* it holds modal     */
#modal{
	width:33%;
	margin:12vh auto;
	height:auto;	
	background:white;
	border:1px solid #aaa;
	border-radius:7px;	
	padding:20px;
	padding-bottom:10vh;
	box-sizing:border-box;	
	z-index:9000;
}

.modalForm{ /* form inside modalArea      */
	width:100%;
	height:auto;
}
.formRow{ /* row container to hold inputbox      */
	height:auto;
	width:100%;
	margin-top:5vh;
	font-size:20px;
}
.formRow .inputBox{ /* to enforce border on inputBox     */
        border: 1px solid #CCCCCC !important;		
}
.error{ /* class to set color of error text  */
	font-size:0.75rem;
	color:red;
}

#row1{ /* row container to hold form heading */
	font-weight:bold;
	display:flex;
	justify-content:center;
	margin-bottom:20px;
}
.inputBox{  /* input box inside formRow     */
	height:30px;
	width:90%;
	padding-left:10%;
}
.btn2{ /* form button     */
	width:40%;
	margin-left:5%;
	margin-right:5%;
	text-align:center;
	background:#17252A;
	font-weight:bold;
	height:30px;
	margin-top:20px;	
	cursor:pointer;
	border-radius:7px;
	border:1px solid #17252A;
	margin-bottom:1vh;
	color:white;
	text-decoration:none;
}
.btn2:hover{ /* form button when hovered    */
	background:#3AAFA9;
	border:1px solid #3AAFA9;
	font-size:1.1rem;
}


/* Media Queries : to make webpage responsive for all device sizes   */

/* for medium sized devices   */
@media screen and (min-width:769px) and (max-width:990px){
	.displayContainer{
		width:90%;
		margin-left:5%;				
	}
	#modal{
		width:50%;		
		margin-left:25%;	
	}
		
}
/* for small sized devices - settings customised   */
@media screen and (min-width:500px) and (max-width:768px){
	.displayContainer{
		width:96%;
		margin-left:2%;				
	}
	.select-row{  /* now on select boxes setting changed*/
		display:flex;
		flex-wrap:wrap;		
	}
	#modal{
		width:80%;		
		margin-left:10%;	
	}
	
	
	
}
/* for extra small sized devices - settings customised  */
@media screen and (min-width:0px) and (max-width:500px){
	.displayContainer{
		width:98%;
		margin-left:1%;				
	}
	.displayContainer .row{
		display:flex;
		flex-direction:column;/* change direction of img and content */
		align-items:center;	
	}
	.img-box{
		width:auto;
	}
	.content-box{
		width:auto;
		padding-top:10px;		
	}
	.btn{
		width:50%;
		margin:10px auto;
	}	
	
	.btn2{ /*modal form btn*/
		font-size:0.75rem;
	}
	.btn2:hover{
		font-size:0.85rem;
	}
	.select-row{
		display:flex;
		flex-wrap:wrap; /* select boxes will wrap/expand with change of screen */
	}	
	select{		
		height:20px;		
		margin-top:10px;
		font-size:0.80rem;
		width:200px;		
	}
	#modal{
		width:98%;		
		margin-left:1%;	
	}
	
}