/*-------------------utility styling----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:0.85rem;
    font-family: 'Lato', sans-serif;
}
/*-------------flex classes------------------*/
.flex{
    display:flex;    
}
.flex-center-center{
    display:flex;
    align-items: center;
    justify-content: center;
}
.flex-between-center{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
/*-------------padding classes------------------*/
.p-2{
    padding:2rem;
}
.p-1-2{
    padding:1rem 2rem;
}
.p-05-1{
    padding:0.5rem 1rem;
}
.pt-2{
    padding-top:2rem;
}
.pt-25{
    padding-top:0.25rem;
}
/*-------------margin classes------------------*/
.mb-1{
    margin-bottom: 1rem;
}
.mb-50{
    margin-bottom: 0.5rem;
}
.mt-1{
    margin-top:1rem;
}
/*-------------border radius classes------------------*/
.br-15{
    border-radius:15px;
}
.br-10{
    border-radius:10px;
}
/*-------------alignment classes------------------*/
.tc{
    text-align: center;
}
/*-------------font-size classes------------------*/
.fs-30{
    font-size:30px;
}
.fs-15{
    font-size:15px;
}
.fb{
    font-weight:bold;
}
/*font light*/
.fl{
    color:#888;
}
.bg-1{
    background-color:#007786;
}
.clr-w{
    color:white;
}
.clr-b{
    color:#232323;
}
/*-------------------project specific styling----------------------------*/
body{
    width:100vw;
    height:100vh;
    background-color:#0077b6;
}

.container{
    width:300px;
    height:500px;
    background-color:#fff;
}

.box{
    margin:1rem 0;
    height:40px;
    width:100%;
}
.note{
    padding-top:1rem;
    text-transform:uppercase;
    font-size:0.75rem;
    letter-spacing: 0.025rem;
}