*{
	margin:0;
	padding:0;
}
body{
	background:#3AAFA9;
	font-family:Arial, Helvetica, sans-serif;
}
#header{	
	background:navy;
	color:white;
	
	padding-bottom:10px;
}
.my-nav{
	list-style-type: none;
}
#footer{	
	padding-top:20px;	
	background:navy;
	color:white;
	text-align:center;
	
}
.container{
	padding:20px;
}
.col-md-10{
	border-bottom:1px solid #aaa;
}
h2{
	background:navy;
	color:white;
	padding:10px 30px;
	
	border-radius:5px;
}
.link{
	background:navy;
	color:white;
	padding:2px 8px;
	border-radius: 5px;
	margin-left:10px;
}
.link:hover{
	font-weight:bold;
	color:navy;
	text-decoration:none;
	background:orange;
}
.box{
	width:100%;
	height:auto;
	padding:5px 20px;
	margin-bottom:10px;
	background:aliceblue;
	border-radius:5px;	
}
.box:hover{
	box-shadow: 2px 2px 5px powderblue;
}