@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
/* global styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
:root {
	--clr-1: #31326f;
	--clr-2: #9ddfd3;
	--clr-3: #dbf6e9;
}
/* id  - this div will host DOM manipulation*/

#content-div {
	display: flex;
	flex-wrap: wrap;
}

/* classes */

/* this div will act as wrapper of page */
.container {
	width: 100vw;
	height: auto;
	background: var(--clr-2);
	padding: 0rem 6rem;
}

@media screen and (max-width: 500px) {
	.container {
		padding: 0;
	}
}

/* nav section */
.nav {
	width: 100%;
	height: auto;
	padding: 0.5rem 2rem;
	background: var(--clr-1);
	display: flex;
	justify-content: space-between;
}
.profile-img-box img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	max-width: 100%;
}
.nav ul {
	width: 100vw;
	height: 100%;
	padding-right: 100px;
	padding-top: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: var(--clr-3);
	list-style-type: none;
}
.nav ul li {
	margin-left: 3rem;
	display: inline;
	padding: 0.5rem 2rem;
	border-radius: 5px;
}
.active {
	background-color: var(--clr-2);
	color: var(--clr-1);
}
.nav ul li a {
	text-decoration: none;
	color: var(--clr-3);
}

@media screen and (max-width: 500px) {
	.profile-img-box img {
		width: 50px;
		height: 50px;
	}
	.nav ul {
		padding: 2rem 2rem 0 0;
	}
	.nav ul li {
		margin-left: 2rem;
	}
}
/* content-div and its inside elements classes */

.card {
	width: 300px;
	height: 300px;
	margin: 20px;
	border-radius: 5px;
	position: relative;
}
.img-box-heading {
	text-transform: capitalize;
	position: absolute;
	left: 1rem;
	top: 2rem;
	z-index: 2;
}
.img-box {
	width: 300px;
	height: 200px;
	background: var(--clr-1);
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--clr-3);
}
.overlay {
	width: 200px;
	height: 200px;
	background: #9899b7;
	position: absolute;
	left: 0;
	top: 0;
	border-bottom-right-radius: 200px;
	z-index: 1;
}
.img-box p {
	font-size: 0.75rem;
	position: absolute;
	bottom: 110px;
	right: 10px;
}
.content-box {
	width: 300px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--clr-3);
}
.view-btn {
	padding: 0.75rem 2rem;
	text-align: center;
	background: var(--clr-1);
	border: none;
	border-radius: 5px;
	transition: transform 0.2s;
}
.view-btn a {
	text-decoration: none;
	color: var(--clr-3);
	font-weight: bold;
}
.view-btn:hover {
	background-color: var(--clr-2);
	transform: scale(1.2);
}
.view-btn a:hover {
	color: var(--clr-1);
}

@media screen and (max-width: 500px) {
	#content-div {
		justify-content: center;
		align-items: center;
	}
}

/* footer section */
footer p {
	text-align: center;
}

footer {
	height: 30px;
	width: 100%;
	background: var(--clr-1);
	color: var(--clr-3);
	padding-top: 0.35rem;
}
