/*----------------- Global settings ------------------------*/
body{	
	background: linear-gradient(rgb(50,140,160), rgb(50,140,180),rgb(50,140,200));
	font-size:16px; /* means 1 rem */
}

/*----------------------------------- Main Page settings ---------------------------------------*/
#mainPage{ /* page displayed after successful login by user  */
	display:none;
}
/*------------------------------------ Login Form settings ---------------------------------------*/
#loginPageTitle{ /* login page title */
	color:white;
	text-align:center;
	margin-top:15vh;	
}
.login-form{
	margin-top:3vh;
	box-shadow:0px 0px 10px 1px grey;	
	padding-bottom:3vh;
	padding-top:2px;
	background:white;
}
#loginBtn{
	font-size:2.0rem;
	background: linear-gradient(rgb(50,140,160), rgb(50,140,180),rgb(50,140,200));	
	color:white;
}
#loginBtn:hover{
	font-size:2.0rem;
	color:white;
}
.title{ /* login form title  */
	background: linear-gradient(rgb(50,140,160), rgb(50,140,180),rgb(50,140,200));	
	text-align:center;
	color:#fff;
	padding-bottom:10px;
	padding-top:10px;
	font-family:Brush Script Std, cursive;
}
.btn{/* common sharing - login button , modal button  */
	margin-top:7vh;
	font-weight:bold;	
}
/*--------------------------------------------- Modal button and table settings -------------------------------------*/
#btnClick{ /* button to open modal  */
	position:fixed;
	top:0vh;
	right:0vw;
	background-color:yellow;
	color:rgb(0 , 0, 100);
}
table{	/* modal table  */
	height:auto;
	border-collapse:collapse;		
}
th, td{ /* modal table cells */
	width:50%;
	height:40px;
	border:1px solid #eee;	
}
/* -------------------------------------------------------Navigation Bar  CSS Settings --------------------------------*/
#nav-box{ /* will house nav  */
	background-color:#0cf;	
}
.nav{
	margin-top:5.0vh;	
}
.nav li a {
	color:white;
	font-weight:bold;
}

.nav li a:hover{
	color:rgb(255 , 255, 255);
	font-size:2.0rem;
	background-color:rgb(0, 100, 200);	
}
.nav li a:active{	
	background-color:linear-gradient(rgb(50,140,160), rgb(50,140,180),rgb(50,140,200));	
}

.navbar-header .navbar-toggle .icon-bar{
	background-color:white;	
}
#profileImgBox{	/* hold user image */
	height:15vh;
	width:15vw;	
}
#profileImgBox img{ 
	border-radius:50%;
	width:80px;
	height:80px;
	margin:0 auto;
}
#table-image{/* id for all images */
	border-radius:50%;
	width:80px;
	height:80px;
}
/*-------------------------------Page heading that replaces NAV -CSS settings--------------------------------------------*/
#userSection{ /* will hold page information - other than main page */
	background-color:#0cf;		
	height:18vh;
	padding-top:1.25vh;
}
#pageNameBox{ /* will hold page name whenever we navigate from main page to any other */
	text-align:left;
	color:white;	
	font-size:2.0rem;
	padding-top:3.5vh;
}
#backBtnBox{
	padding-top:3.5vh;
}
#backBtn{ /* represented by left arrow, will take to main page */	
	font-weight:bold;
	font-size:2.0rem;
	color:white;
	cursor:pointer;
}
#backBtn:hover{
	text-decoration:none;
}
/*-------------------------------------------------displayArea CSS Settings ------------------------------------*/
#displayArea{	/* div which will display info requested by user */
	min-height:100vh;
	height:auto;
}
#displayContainer{ /* container of displayArea */
	background-color:#fff;
}
/*-----------------------------------------------Main Page having Friend list :  CSS settings----------------------------*/
#col1{ /* will hold image of friend  */
	width:20%;
	text-align:center;
}

#col2{ /* will hold name of friend  */
	width:80%;
	padding-top:20px;
	padding-left:10vw;
}
#col2:hover{	
	font-size:1.5rem;
	cursor:pointer;
}
#col1, #col2{
	border-bottom:1px solid #eee;
}
#msgCount{ /* count of msg unread */
	width:9px;
	height:9px;
	padding:5px 8px;
	background:rgb(50, 200, 70);
	border-radius:50%;
	color:white;
	font-size:9px;
}
#lastMsg{ /* last msg shown under the name of friend */
	text-align:right;
	color:#aaa;	
}
/*----------------------------------------------121user Chat Section CSS settings------------------------------------------*/
#msgBox{ /* message to be shown in this box */
	width:100%;	
	min-height:50px;
	padding-top:10px;
	border-bottom:1px solid #eee;
	background:#fff;
}
#para-1{ /* msg  sent by friend on the left side of screen */
	border-radius:20px;				
	color:green;
	font-weight:normal;
	padding-left:2vw;
	text-align:left;	
}
#para-2{ /* msg  sent by user on the right side of screen */
	border-radius:20px;
	font-style:italic;		
	color:blue;	
	padding-right:2vw;
	text-align:right;	
}
.unreadHeading{	/* unread message heading in between 121Page */
	text-align:center;	
	color:#aaa;
	font-style:italic;	
}

#sendMsgContainer{ /* container created to send messages by user */
	display:none;
	position:relative;
	bottom:0px;
	left:0px;
	height:auto;
	background:white;
	padding-bottom:10px;	
}

#sendMsgRow{	/* all input and icons shown in a row */
	border:1px solid #aaa;
	border-radius:20px;		
}
#sendMsgInput input{ /* input box to send msg  */
	width:200px;
	padding:0px 20px;
	border:none;
	border-color:transparent;
}
#cameraIcon{
	margin-left:10px;
}
#sendIcon{ /* send icon will appear only when mouse entered in input box */
	display:none;
	margin-left:10px;
}
/*------------------------Edit Profile Section CSS settings------------------------*/
#profileForm{  /* form created to change user image */
	margin-top:6vh;
	box-shadow:0px 0px 10px 1px grey;	
	padding:3vh 3vw;	
	background:white;
}
#submitBtn{
	background: linear-gradient(rgb(50,140,160), rgb(50,140,180),rgb(50,140,200));	
	color:white;
}
/*------------------------footer Section CSS settings------------------------*/
#footer{	
	padding:1.8vh;
	background-color:#0cf;
	color:white;
	text-align:center;
	font-weight:bold;
	font-size:0.90rem;	
}
/*-----------------------Media Settings ------------------------*/
/* for middle sized screens */
@media screen and (max-width:990px){
	#profileImgBox img{		
		width:70px;
		height:70px;		
	}
	#table-image{
		width:70px;
		height:70px;
	}
}
/* for small sized screens */
@media screen and (max-width:768px){	
	#col1 img{
		position:relative;
		top:15%;
		left:10%;
	}
	#profileImgBox img{		
		width:60px;
		height:60px;		
	}
	#table-image{
		width:60px;
		height:60px;
	}
}
/* for extra small sized screens */
@media screen and (max-width:500px){
	#loginPageTitle{ /* login page title */
		font-size:2.5rem;
	}
	#profileImgBox{	/* hold user image */		
		padding-left:3.5vw;
	}
	#col1 img{
		position:relative;
		top:2%;
		left:2%;
	}
	#pageNameBox{ 		
		padding-top:2.5vh;
	}
	#profileImgBox img{		
		width:50px;
		height:50px;		
	}	
	#table-image{
		width:50px;
		height:50px;
	}
	#userSection{		
		height:80px;	
	}
	#sendMsgInput input{
		width:100px;	
	}	
	#lastMsg{
		text-align:left;
		font-size:12px;		
	}
}

/*--------------------------------------------------------------------------------------*/
