<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Poppins&family=Roboto&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');    
:root{
    --clr-1:#073B4C;
    --clr-2:#CAE9FF;
    --clr-3:#FDF0D5;
    --CLR-4:#CBD7BF;
    --clr-5:#E8EDDF;
    --clr-6:#F9E9D7;
}
>>>>>>> c8c958bbe2190a98a6b1382e0027802b6df6ad6c
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
<<<<<<< HEAD
}
body{
    font-family: 'Poppins' , sans-serif;
    background-color: #CAE9FF; /* #E6E1C5  #D4AF89 #F3C5AA*/
}
.page-container{
    max-width:1100px;
    background-color: aliceblue;
    box-shadow:2px 2px 8px rgba(0, 0, 0, 0.9);
    margin:0 auto;
}
/*----------------------------------------------------------------*/
/* navbar section */
.nav-section{
    display:none;
}

@media screen and (min-width:501px){
    .nav-section{
        display:block;
    }
    .navbar{
        height:60px;
        display:flex;
        justify-content: space-between; 
        background-color: #03045e;
    }
    .logo-div{
        display:flex;
        align-items:center; 
        color:ghostwhite;    
        font-size:18px;
        width:50px;
        height:50px;
        border-radius:50%;
        border:5px solid ghostwhite;
        background-color:transparent;
        justify-content: center; 
        margin-left:30px;
        margin-top:5px;
        font-weight:bold;
        transition:2s;
    }
    .logo-div:hover{
        cursor:pointer;
        transform:scale(1.1);
    }
    .nav{
        list-style-type:none;
        display:flex;
        height:100%;
        align-items:center;
    }
    .nav li a{
        text-decoration:none;
        font-weight:bold;
        color:ghostwhite;
        margin:2rem;
        transition: 3s;
    }
    .nav li a:hover{
        font-size:20px;
    }
}
/*-----------------------------------------------------------*/
/* hamburger-section styling */
.hamburger-section{    
    height:60px;
    width:100vw;
    background-color: #03045e;
} 
.ham-navbar{
    height:60px;
    display:flex;
    justify-content: space-between; 
}
.ham-logo-div{
    display:flex;
        align-items:center; 
        color:ghostwhite;    
        font-size:18px;
        width:50px;
        height:50px;
        border-radius:50%;
        border:5px solid ghostwhite;
        background-color:transparent;
        justify-content: center; 
        margin-left:30px;
        margin-top:5px;
        font-weight:bold;
        transition:2s;
}
.hamburger{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width:60px;
    height:auto;
    background-color:#03045e;
}
.bar{
    width:40px;
    height:4px;
    margin:2px;
    background-color: white;
}
.hamburger-ul{
    display:none;
}

@media screen and (min-width:501px) {
    .hamburger-section{    
        display:none;        
    }    
}
 /*-------------------------------------------------------*/
.intro-section{
    min-height:400px;
    width:96%;
    padding:2%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-div{
    background-color:ghostwhite;
    color:rgba(20, 20, 150, 0.8);
    padding:1rem 0;
    text-align:justify;
    line-height:1.5;
    font-size:12px;
}
.intro-div h2{
    padding-bottom:1rem;
}
.profile-img-div{
    min-height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.profile-img{ 
    width:200px;   
    max-width:100%;
    border-radius:50%;
}


 @media screen and (min-width:501px) {
    .intro-section{
        min-height:350px;
        padding-top:1rem;
        display:flex;
        flex-direction: row;
    }
    .intro-div{
        flex:1;
        background-color:transparent;
        color:rgba(20, 20, 150, 0.8);
        padding:20px 80px;
        text-align:justify;
        line-height:1.5;
        font-size:1rem;    
    }
    .intro-div h2{
        padding-bottom:10px;
    }
    
   .intro-div  {        
        animation:visibleAnimation 2s ease-out; 
      }      
     
    .profile-img-div{
        height:250px;
        display:flex;
        justify-content:center;
        align-items:center;
        padding-top:1rem;
        
    }
    .profile-img{
        width:250px;
        max-width:100%;
        border-radius:50%;
        animation:visibleAnimation 2s ease-out;        
    } 
   
    @keyframes visibleAnimation {
        from {
          opacity:0.1;          
        }
      
        to {
          opacity:1;          
        }
      }    
 }


/* Common styling for Projects and Skills Section */

.display-section h2{    
    text-align:center;
    padding-top:1rem;
    font-size:2rem;
}
 .display-div{
    min-height:400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.display-div .card h3{
    text-align: center;
    margin:10px 0px;
}
.display-div .card{
    width:320px;    
    padding:20px;
    margin:20px;
    min-height:250px;
    border-radius:10px;
    transition:2s;
}

.display-div .card:hover{
    transform:scale(1.1);
}
.display p{
    margin-top:10px;
}
.btn-div button{
        width:100%;
        height:40px;
        font-size:1rem;
        font-weight: bold;
        letter-spacing: 0.15rem;
        border-radius:5px;
        border:none;
    }

 @media screen and (min-width:501px){    
    .display-div{
        min-height:250px;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:center;        
    }
    .display-div .card h3{
        text-align: center;
        margin:10px 0px;
    }
    .display-div .card{
        flex:1;        
        padding:20px;
        margin:40px;
        min-height:250px;
        border-radius:10px;
    }
    .card p{
        margin-top:10px;
    }
    .btn-div {
        width:250px;
        height:80px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .btn-div button{
        width:100%;
        height:40px;
        font-size:1rem;
        font-weight: bold;
        letter-spacing: 0.15rem;
        border-radius:5px;
        border:none;
    }
 }

 /* Projects Section Styling */
.project-section{    
    background-color: #03045e;    
}
.project-section h2{
    color:ghostwhite;    
}
.projects-div{    
    background-color: #03045e;    
}

.projects-div .card{    
    background:ghostwhite;
    color:rgba(20, 20, 150, 0.8);    
}
.projects-div .card p{
    min-height:100px;
    text-align:justify;
}

.projects-div button{
    background:#03045e;
    color:#ddd;
}
.projects-div button:hover{
    background:#ddd;
    color:#03045e;
    transform:scale(1.1 , 1.08);
    transition:2s;
}

 


 @media screen and (min-width:501px) {
    .projects-section{        
        background-color: #03045e;
    }
    .project-section h2{
        color:#ddd;        
    }
    .projects-div{       
        background-color: #03045e;
    }
    
    
    .projects-div .card{        
        color:#03045e;
        background-color:ghostwhite;        
    }
     
 }

 /* Skills Section */
 .skills-section{        
    background-color: ghostwhite;
}
.skills-section h2{
    color:#03045e;    
}
 .skills-div{    
    background-color: ghostwhite;
}

.skills-div .card{    
    color:ghostwhite;
    background-color: #03045e;
    padding-left:2.5rem;    
}


 @media screen and (min-width:501px){
    .skills-section{        
        background-color:ghostwhite;
    }
    .skills-section h2{
        color:#03045e;
    }
    .skills-div{        
        background-color:ghostwhite;
    }
    .skills-div .card{        
        color:#ddd;
        background-color: #03045e;
    }
    .skills-div .card h3{
        text-align:left;
    }
    .skills-div .card ul{
        padding:0.5rem 2rem;
    }
    .skills-div .card ul li{
        line-height:1.5;
        font-size:0.9rem;
        padding-left:10px;
        color:#ddd;
    }
 }

 /* contacts-section styling */
 .contacts-section{
    min-height:250px;
    display:flex;
    flex-direction: column;
    justify-content: center;    
    background-color: #03045e;
    color:ghostwhite;
    padding:20px;
}
.contacts-section h3{
    margin-bottom:20px;
    letter-spacing: 0.15rem;
}
.contacts-section ul{
    list-style-type: none;
}
.contacts-section ul li{
    line-height:2;
}
.contacts-section ul li a{
    text-decoration:none;
    color:#ddd;
    transition: 3s;

}
.contacts-section ul li a:hover{
    font-size:20px;
}
.contacts-section .contacts-card{
    flex:1;
    margin:20px 40px;
}

.contacts-card:nth-of-type(2) {text-align:justify }

.contacts-details p{
    color:#ddd;
}

 @media screen and (min-width:501px) {
    .contacts-section{
        min-height:250px;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;    
        background-color: #03045e;
        color:#ddd;
        padding:20px;
        font-size:0.9rem;
    }
    .contacts-section h3{
        margin-bottom:20px;
        color:ghostwhite;
    }
    .contacts-section ul{
        list-style-type: none;
    }
    .contacts-section ul li{
        line-height:2;
        font-size:0.75rem;
    }
    .contacts-section ul li a{
        text-decoration:none;
        color:#ddd;
        transition: 3s;
    }
    .contacts-section ul li a:hover{
        font-size:20px;
    }
    .contacts-section .contacts-card{
        flex:1;
        margin:20px 40px;
    }
    .contacts-card:nth-of-type(1) {flex-grow: 1;}
    .contacts-card:nth-of-type(2) {flex-grow: 2; text-align:justify }
    .contacts-card:nth-of-type(3) {flex-grow: 1;} 

    .contact-details p{
        color:#ddd;
    }
 }


 /* footer section */
.footer-section{
    height:50px;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #001D3D;
    color:#ddd;
    font-size:0.9rem;
=======
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #E8EDDF;
}

/*background:#073B4C;*/
.container{
    width: 1050px;
    min-height:80vh;
    height:auto;
    margin:10px auto;
    border-radius:20px;
    background-color:var(--clr-3);   
    box-shadow:8px 8px 8px #aaa;
}
/* media queries */
@media screen and (max-width:500px) {
    .container{
        width:350px;
        margin:5px auto;
    }
}
/*------------header section styling--------------------------*/
.header{
    height:250px;
    background-color:var(--clr-1);
    border-radius:20px 20px 0 0;
    position:relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.name-div{
    height:160px;
    width:160px;
    transform:rotate(-90deg);
}
.first-name{
    height:32px;    
    color:var(--clr-2);
    font-size:30px;
}

.last-name{
    height:50px;    
    color:var(--clr-3);
    font-size:48px;    
    letter-spacing: 0.1rem;
}

.img-div{
    width:200px;
    height:200px;
}
.img-div img{
    width:200px;
    height:200px;
    max-width:100%;
    border-radius:50%;
    position:absolute;
    top:120px;
    left:37.5%;
    border:10px solid #FDF0D5;
}
.about-me-div{
    width:300px;
    height:200px;
    margin-top:230px;
}
.about-me-div h3{
    font-size:20px;
    letter-spacing: 0.1rem;
    color:var(--clr-3);
    padding-bottom:10px;
}
.about-me-div p{
    letter-spacing: 0.05rem;
    text-align: right;
    color:var(--clr-2);
    font-style: italic;
    font-size:1.2rem;
    color:white;
    line-height:1.75rem;
    font-family: 'Cookie', cursive;
}

/* media queries */
@media screen and (max-width:500px) {
    .header{
        height:150px;
        justify-content: space-between;
    }
    .name-div{
        height:60px;
        width:120px;
        padding-left:0.5rem;
    }
    .first-name{
        height:20px;        
        font-size:18px;
    }
    .last-name{
        height:30px;        
        font-size:27px;        
    }
    .img-div{
        width:100px;
        height:100px;
    }
    .img-div img{
        width:100px;
        height:100px;
        max-width:100%;
        border-radius:50%;
        position:absolute;
        top:100px;
        left:37.5%;
        border:5px solid #FDF0D5;
    }
    .about-me-div{
        width:200px;
        height:200px;
        margin-top:80px;
        padding-right:20px;
    }
    
    .about-me-div p{        
        font-size:0.8rem;        
    }
}
/*-------------------main section styling --------------------------*/
/* main */
.main{    
    padding:30px 60px;      
}
.project-container{    
    margin-top: 3rem;   
    margin-bottom:0.5rem;    
}
h1{
    color:var(--clr-1);
    margin-bottom:20px;
    padding-left:1.5rem;
    font-size:30px;
    text-shadow:2px 2px #bbb;
    font-weight:bold;
}

.project-gallery{
    display:flex;
    flex-wrap:wrap;
    min-height:180px;
}
.btn{
    height:60px;
    width: 260px;
    padding-top:18px;
    text-align: center;
    background-color:#073B4C;
    color:#fff;
    margin:5px 20px ;
    font-size:18px;
    font-weight:bold;
    box-shadow:5px 5px 5px #333;
    cursor: pointer;
}
.btn:hover{
    transform:scale(1.1);
    background-color:#11270B;
}


@media screen and (max-width:500px){
    .main{        
        padding:0.75rem 1.5rem;       
    }
    .project-container{    
        margin-top: 1rem; 
        min-height:530px;
        height:auto;           
    }
    .project-container h1{        
        padding-left:0.75rem;
        font-size:24px;
    }
    
    .project-gallery{
        flex-direction: column;
        flex-wrap:nowrap;
        min-height:420px;
        height:auto;
    }    
}


/* -------------------skills container styling----------------------------- */
.skills-container{     
    height:auto;
    background-color: #aaa;    
}

.skills-gallery{
    display:flex;
    flex-wrap:wrap;
    min-height:500px;
}
.box{
    width:280px;
    margin:10px;
    height:240px;
    background-color:black;
    box-shadow:5px 5px 5px #aaa;
    position:relative;
    display:flex;
    
    flex-direction: column;
}
.inner-box{
    width:280px;
    height:180px;
    background-color:black;    
    color:var(--clr-3);
    font-size:30px;
    overflow: hidden;
}
.box:hover{
    cursor:pointer;
    transform:scale(1.1);
}
.box img{
    width:100%;
    height:180px;
    object-fit: cover;    
    display: block;  
}

.caption-div{
    height:60px;
    width:100%;
    background-color: var(--clr-1);
    color:var(--clr-3);
    position:absolute;
    bottom:0;
    left:0;
    z-index:1;
    display:flex;
    justify-content: center;
    align-items:center;
    font-weight: bold;
}

@media screen and (max-width:500px){
    .skills-container{     
        min-height:250px;
        height:auto;    
    }
}

/* footer section styling */
.footer{
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:var(--clr-3);
    background-color: var(--clr-1);
    width:100%;
    margin:0;
    border-radius:0 0 20px 20px;
}
.footer span{
    margin:10px;
}
.footer span:first-child{
    margin-left: 0;
}
.footer span a{
    color:var(--clr-3);
}
.footer span i{
    font-size: 36px;
}

/* media queries */

.navbar{
    height:60px;
}
.back-btn{
    background-color: #073B4C;
    color:white;
    padding: 0.5rem 2rem ;
    font-weight: bold;
    cursor:pointer;
    border-radius:5px;
    border:none;
}
.back-btn:hover{
    transform:scal(1.05);
    color:var(--CLR-1);
    background-color:var(--CLR-4);
    font-size:1.1rem;
    
>>>>>>> c8c958bbe2190a98a6b1382e0027802b6df6ad6c
}