@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0a1931;
}

.container {
	width: 35vw;
	height: auto;
}

.sign-up-form {
	width: 100%;
	height: 100%;
	padding: 2rem;
	background-color: #efefef;
	border-radius: 5px;
}
.sign-up-heading {
	font-size: 30px;
	text-align: center;
	padding: 1rem;
	padding-top: 0;
}
.inputDiv {
	padding-bottom: 1.5rem;
}
label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.6);
}
input {
	line-height: 2.5;
	width: 100%;
	padding-left: 2rem;
	border: 1px solid #ddd;
	background: #eeeeee;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.2s;
}
input:hover {
	transform: scale(1.05);
}
.submit-btn {
	line-height: 3;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 1.5rem;
	background: #185adb;
	color: #eeeeee;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: transform 0.2s;
}
.submit-btn:hover {
	background: #0a1931;
	transform: scale(1.1);
}

@media screen and (max-width: 500px) {
	body {
		background: #ffc947;
	}
	.container {
		width: 100vw;
		height: auto;
	}
	.sign-up-form {
		padding: 2rem 0.5rem;
		height: auto;
	}
	.inputDiv {
		padding: 2rem;
	}
}
