@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-size: 0.9rem;
}
body {
	background-color: #52b788;
}
.container {
	background-color: #d8f3dc;
	width: 650px;
	height: 90vh;
	margin: 5vh auto;
}
/*-----------------------common classes for both boxes---------------*/
.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-around {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.box {
	width: 270px;
	min-height: 450px;
	height: auto;
	background-color: white;
}
.header {
	background: #22422d;
	color: white;
	border-bottom: 1px solid #ddd;
}
/*---------------------box - showing user-list--------------------*/
.header-1 {
	height: 100px;
}

.logo-bar {
	height: 50px;
	padding: 0 0.75rem;
}

.right-side-links span:first-child {
	margin-right: 1.25rem;
}

span i {
	font-size: 1.15rem;
}
/*------nav-links inside header-1---------*/
.nav-list {
	height: 50px;
}
.nav-list a {
	text-decoration: none;
	color: white;
	font-size: 0.65rem;
	font-weight: bold;
}
.pending {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: white;
	color: #333;
	font-size: 0.5rem;
	font-weight: bold;
	text-align: center;
	padding: 0.25rem;
}

.user-name-box {
	height: 55px;
	padding-left: 0.5rem;
	border-bottom: 1px solid #ddd;
	background-color: white;
	display: flex;
}
.user-name {
	width: 220px;
	padding: 0 0.5rem;
}
.time {
	color: #333;
	font-size: 0.6rem;
}

.user-img img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	max-width: 100%;
}
.user-status {
	font-size: 0.6rem;
	font-size: #ddd;
}
/*-----------------------------------------------------*/
.header-2 {
	padding: 1rem 0;
}
.header-2 span i {
	font-size: 1.25rem;
	font-weight: bolder;
}
.msg-div {
	height: 320px;
	background-color: #ddd;
	padding: 0.75rem 0.5rem;
}
.msg {
	padding: 0.5rem 0;
	height: 50px;
}
.recd-msg {
	text-align: left;
}
.msg span {
	padding: 0.5rem;
	background: white;
	color: #aaa;
	border-radius: 10px;
	border: 1px solid #eee;
	font-size: 0.75rem;
}
.sent-msg {
	text-align: right;
}
/*-----------------------------------------------------------------*/
.send-msg-div {
	display: flex;
	height: 50px;
	padding-left: 0.5rem;
	background: #ddd;
}

.input-div {
	width: 210px;
	height: 40px;
	border-radius: 40px;
	background: white;
}
.input-div input {
	border: none;
	width: 60%;
}
.speaker-div {
	width: 50px;
	height: 50px;
	padding-bottom: 1rem;
}
.speaker-div span {
	padding: 0.5rem 0.65rem;
	text-align: center;
	background: green;
	border-radius: 50%;
}
.speaker-div span i {
	color: white;
}
.camera {
	padding-left: 1rem;
}

.speaker-div img {
	width: 25px;
	height: 25px;
	max-width: 100%;
}
/*----------------------------------------------------------------*/
