*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background:lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container{
    display:flex;
    flex-direction:column;
    width:100vh;
    height:100vh;
    background:rgb(16, 167, 236);
    padding-top:20px;
}
table, td, th{
    border:1px solid #555;
}
td, th{
    padding:1vh 2vw;
    text-align:center;
}
table{
    border-collapse: collapse;
    margin:0px auto;
    background-color: azure;
}
.poster{
    margin:2vh;
}
#posterDiv{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:2vh;
}
.heading{
    text-align:center;
    margin:10px 0px;
}
.holiday{
    color:red;
    font-weight:bold;
}