/* -----------------------------------------------------------*/
                /* nav - styling */
/*------------------------------------------------------------*/

/* for mobile devices */
@media screen and 
    (min-device-width:376px ) and 
    (max-device-width:768px){
        .desktop-nav{
            display:none;
        }
        .mobile-nav{
            width:100%;
            height:50px;
            padding-top:1rem;
            display:flex;
            justify-content: space-between;
            align-items: center;        
            font-family:'Barlow', sans-serif;
        }
        .mobile-nav .logo{
            color:var(--clr-white);
            margin-left:2rem;
            width:40%;
            text-align:left;
            font-size:1.5rem;
            font-weight:700;            
        }
        .hamburger{
            width:50px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right:1rem;
        }
        .hide-mobile-nav-ul{
            visibility:hidden;
            opacity:0;
            width:0;
            height:0;
        }
        .show-mobile-nav-ul{
            visibility: visible;
            opacity: 1; 
            position:absolute;
            top:50px;
            right:20px;
            padding:2rem;
            clip-path: polygon(0% 15%,  70% 15%, 80% 0%, 90% 15%, 100% 15%, 100% 100%, 0% 100%);
            background:white;
            color:black;           
        }
        .mobile-nav-ul li{
            line-height:1.25rem;
            padding-top:1rem;
            font-size:0.9rem;
            font-weight:normal;
        }
        
        .bar{
            height:3px;
            width:30px;
            background-color: var(--clr-white);
            margin-bottom:5px;
        }
}



/* -----------------------------------------------------------*/
                /* header - styling */               
/*------------------------------------------------------------*/

/* for mobile devices */
@media screen and 
    (min-device-width:376px ) and 
    (max-device-width:768px){
        header{
            min-height:500px;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;            
            font-family:'Fraunces', sans-serif;
            background-image: url(./images/desktop/image-header.jpg);
            background-size: 800px 500px;
            background-repeat:no-repeat;
            background-position:50% 90%;
            position:relative;
        }
       header h1{
            color:var(--clr-white);
            font-size:2rem;
            text-transform: uppercase;
            padding-top:2.25rem;
            letter-spacing: 0.2rem;
            text-align:center;
        }
        header img{
            margin-top:2rem;
        }
}

/* styling for mobile devices */
                
@media screen and 
    (min-device-width:376px ) and 
    (max-device-width:768px){
        main{
            display:flex;
            flex-direction: column;           
        }
        .brand-text-div{            
            background-color: var(--clr-white); 
            padding:2rem 0rem;           
            min-height:200px;
            display:flex;
            justify-content: center;
            align-items: center;
            order:2;
        }       
        .text-box h2{
            text-align:center;
        }
        .brand-text-div .text-box p{
            width:300px;
            text-align: center;
            font-size:1rem;
            line-height:1.5rem;
            margin-top:1rem;
            opacity:0.75;
        }
        .brand-text-div .text-box a{
            display:block;
            font-size:1rem;
            text-transform: uppercase;
            color:black;
            font-family: 'Fraunces', sans-serif;
            margin-top:1rem;
            text-align: left;
        }
        
        .brand-image-div{            
            width:100%;
            order:1;
        }
        .brand-image-div img{
            width:768px;
            max-width:100%;
        }
        .audience-image-div{ 
            order:3;
        }
        .audience-image-div img{
            max-width: 100%;
            width:768px;
        }
        .audience-text{            
            background-color: var(--clr-white); 
            padding:2rem 0rem;           
            min-height:200px;            
            order:4;
        }
        .audience-text .text-box h2{
            width:300px;
            text-align:center;
            margin:auto;
        }
        .audience-text .text-box p{
            width:300px;
            text-align: center;
            font-size:1rem;
            line-height:1.5rem;
            opacity:0.75;
            margin:1rem auto;
        }
        .audience-text .text-box a{
            display:block;
            font-size:1rem;
            text-transform: uppercase;
            color:black;
            font-family: 'Fraunces', sans-serif;
            margin-top:1rem;
            text-align:left;
        }
        .activity-section{            
            min-height:300px;
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;            
            order:5;
        }
        .activity-card{
            width:100%;
            min-height:300px;
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content:center;
            padding-bottom:5rem;
        }
        .activity-card p{
            width:clamp(350px, 50%, 768px);
            line-height:1.5rem;
            font-size:0.9rem;
            text-align:center;
            margin-top:1rem;
            color:var(--clr-grayish-blue-1);
        }
        .activity-card h2{
            margin-top:20rem;
            text-align:center;
            width:100%;
            text-transform: capitalize;
            letter-spacing: 00.1rem;
        }
        
        .activity-card:nth-of-type(1){
            background-image:url(./images/desktop/image-graphic-design.jpg);
            background-size: cover;
            background-repeat:no-repeat;
            background-position: 50% 50%;
            order:1;
        }
        .activity-card:nth-of-type(2){
            background-image:url(./images/desktop/image-photography.jpg);
            background-size:cover;
            background-repeat:no-repeat;
            background-position: 50% 50%;
            order:2;
        }        
        .gallery{            
            min-height:100px;
            display:flex;
            flex-wrap:wrap;
            order:7;
        }
        .gallery img{
            width:50%;
        }
}

/* -----------------------------------------------------------*/                
                /* Testimonials section */
/*------------------------------------------------------------*/





/* for mobile devices */
@media screen and 
    (min-device-width:376px ) and 
    (max-device-width:768px){
        .testimonials-section{
            grid-row:6;
            padding:4rem 0 3rem 0;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            order:6;
         }
        .card-container-div{
            display:flex;
            flex-direction: column;
        }
        .card{
            width:72%;
        }
        .testimonials-section h2{
            font-size:1.5rem;
            text-transform:uppercase;
            letter-spacing: 0.1rem;
            color:var(--clr-grayish-blue-2);
        }
        .card-container-div{
            min-height:200px;
            display:flex;
            justify-content: center;
        }
        .card{
            min-height:200px;
            width:90%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin:2rem;
        }
        .testimonials-section .card img{
            width:50px;
            border-radius: 50%;
        }
        .testimonials-section .card p{
            font-size:0.85rem;
            font-weight:normal;
            color:var(--clr-grayish-blue-2);
            text-align:center;
            padding:1rem 2rem;
            line-height:1.25rem;
        }
        strong{
            display:block;
            font-family:'Fraunces', sans-serif;
            color:var(--clr-grayish-blue-1);
            margin-top:2rem;
        }
        small{
            display:block;
            font-style:italic;
            color:var(--clr-grayish-blue-3);
        }        
}