@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: aliceblue;
}
nav{
    height:80px;
    border-bottom:1px solid #ddd;
    background-color:white;
    font-size:0.85rem;
    display:flex;
    justify-content: space-around;
    align-items: center;    
}

.nav-ul-left{
    height:80px;
    width:400px;
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    align-items: center;    
}
.nav-ul-right, .nav-ul-left{
    height:80px;
    width:600px;
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    align-items: center;    
}

.nav-ul-right i{
    font-size:1.2rem;
}

#search-bar{
    width:350px;
    height:50px;
    border:1px solid #aaa;
    border-radius:30px;
    padding-left:40px;
}
.circle{
    width:50px;
    height:50px;
    background:purple;
    border-radius:50%;
    color:white;
    font-size:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}