
.card{
    width:180px; 
    height:auto; 
    border:1px solid #eee;
    margin:1%;
    background:rgb(200, 230, 209);
    display:flex;
    flex-direction: column; 
    cursor:pointer;     
  }

.card:hover{
    width:185px;
    border:2px solid lightgray;
}
.contentBox{
    padding:10px;
    text-align: center;
}