@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
}
:root {
	--clr-1: #f8f1f1;
	--clr-2: #11698e;
	--clr-3: #19456b;
	--clr-4: #03045e;
	--clr-5: #f05454;
	--clr-6: #f5a25d;
	--clr-7: #0077b6;
	--clr-8: #caf0f8;
	--clr-9: #edf2fb;
}
body {
	background-color: var(--clr-7);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	width: 700px;
	height: 550px;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--clr-9);
}
/*-------------common classes for both box divs-------------------------*/

.flex-around {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
/*---------------------------------------------------------------------*/
.box {
	background-color: var(--clr-2);
	color: white;
	width: 300px;
	border-radius: 10px;
	padding: 0.5rem 1rem 0.25rem 1rem;
	min-height: 500px;
}
.header {
	height: 50px;
	font-weight: bold;
}
.timer {
	font-size: 0.75rem;
	font-weight: bold;
}
.links {
	margin-left: 120px;
}
.duration {
	height: 120px;
	display: flex;
	justify-content: center;
	padding-top: 1rem;
	border-bottom: 1px solid #eee;
}
.duration-child {
	margin-right: 0.5rem;
}
.zero {
	font-size: 3rem;
	font-weight: bold;
}
.zero + span {
	font-size: 1.5rem;
	font-weight: bold;
}
.close-icon {
	padding-top: 20px;
	padding-left: 10px;
	font-weight: bold;
}
.close-icon i {
	font-size: 1.5rem;
	font-weight: bold;
}
.keypad {
	height: 250px;
	padding-top: 2rem;
}
.footer {
	height: 50px;
}
.footer span {
	font-size: 0.75rem;
	font-weight: bold;
}
.footer-icon {
	display: block;
	text-align: center;
}
.selected {
	color: var(--clr-2);
	background-color: var(--clr-1);
	padding: 0.25rem;
	border-radius: 2px;
}
.row {
	color: white;
}
.row span {
	font-size: 2rem;
	line-height: 1.3rem;
	margin-bottom: 1.5rem;
}

/*----------------------------------------------*/
.countdown-timer-div {
	height: 250px;
}
.countdown-controller {
	height: 100px;
}
.countdown-controller div:first-child,
.countdown-controller div:last-child {
	padding: 0 2rem;
	font-size: 0.75rem;
	font-weight: bold;
}
.countdown-controller div i {
	font-size: 2rem;
}
.countdown-timer-circle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 1px solid #ddd;
	position: relative;
}
.progress-circle {
	width: 150px;
	height: 150px;
	border-width: 2px;
	border-color: white;
	border-left-color: transparent;
	border-style: solid;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 50%;
}
.progress-dot {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: white;
	position: absolute;
	top: 120px;
	left: 15px;
}
.time-display {
	font-size: 2.5rem;
	font-weight: bold;
	padding: 1rem 0;
}
