@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
}
body {
	background-color: lemonchiffon;
}
.container {
	width: 50vw;
	height: auto;
	border: 1px solid #ddd;
	padding: 1rem 2rem;
	background-color: #fff;
}
@media screen and (max-width: 500px) {
	.container {
		width: 100vw;
	}
}

h1 {
	text-align: center;
	font-size: 3rem;
	padding-bottom: 2rem;
	border-bottom: 2px solid black;
}

/*----------------------------------------------*/
.box {
	border-bottom: 2px solid black;
	padding: 1.5rem 0;
	display: flex;
	justify-content: space-between;
}
.half-box {
	width: 45%;
}

@media screen and (max-width: 500px) {
	.half-box {
		width: 50%;
		padding-right: 1rem;
	}
}
/*--------------------------------------------------*/
h2 {
	padding-bottom: 1rem;
	font-size: 27px;
}
.git-img {
	width: 240px;
	height: 140px;
	max-width: 100%;
}

.btn {
	background-color: black;
	color: white;
	padding: 1rem 1.5rem;
	text-align: center;
	border: none;
	font-size: 1.1rem;
}

@media screen and (max-width: 500px) {
	h2 {
		font-size: 17px;
	}
	.git-img {
		width: 150px;
		height: 75px;
	}
	.btn {
		padding: 0.5rem 1rem;
		font-size: 0.9rem;
	}
}
/*-------------------------------------------------*/
h3 {
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	margin-bottom: 0.75rem;
}
.half-box p {
	line-height: 1.5;
}
.half-box p span {
	padding-left: 0.5rem;
}
@media screen and (max-width: 500px) {
	h3 {
		font-size: 1rem;
	}
	.half-box p span,
	.half-box b,
	.half-box p,
	.half-box a {
		font-size: 0.75rem;
	}
	.half-box a {
		display: inline;
		word-wrap: break-word;
	}
}

/*------------------------------------------------------*/
.flex-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer {
	padding-top: 1rem;
}
.footer p {
	padding-bottom: 1rem;
}
.gray {
	color: #555;
}
.bold {
	font-weight: bold;
}
.f-90 {
	font-size: 0.9rem;
}
.light-gray {
	color: #777;
}
.flex-row {
	display: flex;
}
@media screen and (max-width: 500px) {
	.bold {
		font-size: 0.75rem;
	}
}
