@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
}
body {
	background-color: #231e23;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* styling rules of checkout form */
.checkout-form {
	width: 30vw;
	height: auto;
	background-color: #39a6a3;
	border-radius: 25px;
	display: grid;
	grid-template-rows: repeat(6);
}
.row-1 {
	grid-row: 1/2;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}
.row1-heading {
	padding-top: 1.5rem;
	padding-left: 1rem;
}
#profile-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-bottom: 0.5rem;
}
.row-2 {
	grid-row: 2/3;
}
.card-type-div {
	width: 100%;
	display: flex;
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.box {
	width: 25%;
	height: 40px;
}
.fa-cc-mastercard,
.fa-cc-visa,
.fa-cc-paypal,
.fa-cc-amex {
	font-size: 36px;
}
.row-3 {
	grid-row: 3/4;
	padding-bottom: 0.5rem;
}
.input-div {
	padding: 1rem 2rem;
}
label {
	display: block;
	padding-bottom: 0.5rem;
	font-size: 0.75rem;
}
input {
	padding-left: 1rem;
	height: 40px;
	width: 100%;
	border: none;
}
input::placeholder {
	font-size: 0.75rem;
}
.row-4 {
	grid-row: 4/5;
	padding-bottom: 1rem;
}
.row-5 {
	grid-row: 5/6;
	padding-bottom: 1rem;
}
.dbl-box {
	display: flex;
	justify-content: space-between;
}
.half-space-box {
	width: 100%;
}

.row-6 {
	grid-row: 6/7;
	display: flex;
	justify-content: center;
}
.checkout-btn {
	height: 40px;
	background-color: #231e23;
	text-align: center;
	display: block;
	width: 80%;
	color: #efefe8;
	border: none;
	border-radius: 5px;
	transition: transform 0.2s;
	margin-bottom: 2rem;
}
.checkout-btn:hover {
	transform: scale(1.1);
	background: #bf1363;
	color: #deeeea;
}

/* style rules for mobile devices */
@media screen and (max-width: 500px) {
	.checkout-form {
		width: 90vw;
	}
}
