*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #5c2dd5;
}
.wrapper{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:630px;
    height: 594px;
    background-color: #7945ff;
    position:relative;
    margin:10px auto;
    border-radius: 36px;
}
.img-1{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.img-2{
    position:absolute;
    top:0;
    left:0;
    z-index:2;
}
.gameDisplayDiv{
    width:100%;
    height:98%;
    padding:17px;
    border-radius: 36px;    
    position:absolute;
    top:0;
    left:0;
    z-index:3;
    background-color: transparent;
    display:grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(7, 70px);
    gap:18px;
}
.blue-dot{    
    border-radius:50%;
    background-color:transparent;
}
.yellow-dot{
    background-color:yellow;
    border-radius:50%;
}
.menuContainer{
    width:100%;
    height:98%;
    border-radius: 36px;    
    position:absolute;
    top:0;
    left:0;
    z-index:4;
    background-color: #7945ff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-bottom:6rem;
}
.btn{
    width:50%;
    height:50px;
    margin-bottom:2rem;
    border:none;
    border-radius:25px;
    box-shadow:10px 10px 20px #000;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing: 0.05rem;
}

.btn:hover{
    cursor:pointer;
    transform:scale(1.05);
}

.playVsPlayer{   
    background-color:yellow;
}

.gameRules{   
    background-color:orange;
}

/*--------------------------------*/
