@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
}
:root {
	--clr-1: #b4b897;
	--clr-2: #368b85;
	--clr-3: #464660;
	--clr-4: #f1e9e5;
	--clr-5: #c1bab7;
}

button {
	border: none;
}

ul {
	list-style-type: none;
}
body {
	width: 100vw;
	height: 100vh;
	background-color: var(--clr-2);
}

/* classes */

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background-color: transparent;
	width: 80vw;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.box {
	width: 20vw;
	min-width: 250px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/*----my-profile-------*/
.img-box {
	height: 25vh;
	width: 100%;
	background-color: var(--clr-3);
	color: white;
	position: relative;
}
.img-box img {
	position: absolute;
	bottom: -25px;
	left: 30%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.img-box h4 {
	padding-top: 40px;
	padding-left: 20px;
	letter-spacing: 0.1rem;
}

/*------content-box-------*/

.content-box {
	width: 100%;
	height: auto;

	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 1rem 1rem 1rem;
}

.item {
	margin-bottom: 1.5rem;
	width: 100%;
	font-size: 1rem;
	background-color: #dadccb;
	color: #909379;
	line-height: 2;
	padding-left: 1rem;
	padding-right: 1rem;
	display: flex;
	justify-content: space-between;
}
.item i {
	margin-right: 10px;
}

/*--------------------------------------*/
.item-div {
	width: 100%;
	padding-left: 0.5rem;
	font-size: 0.5rem;
	color: var(--clr-1);
	padding-bottom: 0.8rem;
	font-weight: bold;
}
.item-heading {
	padding-bottom: 0.5rem;
	font-size: 0.75rem;
	padding-left: 0.5rem;
}
.item-details {
	background-color: #dadccb;
	border: 1px solid #cdcdb6;
	line-height: 2;
	padding: 0 1rem;
	width: 100%;
	border-radius: 5px;
	font-size: 0.75rem;
}

/* blog section related classes */

.blog-heading i {
	margin-right: 0.5rem;
}

.search-bar {
	width: 100%;
	height: 2rem;
	margin: 1rem 0;
	padding-left: 2rem;
	border: 1px solid #eee;
	border-radius: 25px;
	box-shadow: 2px 1px 1px #aaa;
}
.blog-box {
	padding: 0.5rem 0;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 2px 1px 1px #aaa;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	border-radius: 5px;
	color: var(--clr-1);
}
.blog-box p {
	font-size: 0.75rem;
	color: var(--clr-1);
}
.blog-box h5 {
	font-size: 0.8rem;
	padding: 0.4rem;
	color: var(--clr-1);
}

@media screen and (max-width: 900px) {
	.container {
		width: 100vw;
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.box {
		margin-bottom: 2rem;
	}
	.img-box {
		max-height: 150px;
	}
}

@media screen and (max-width: 500px) {
	.container {
		width: 100vw;
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.box {
		margin-bottom: 2rem;
	}
	.img-box {
		max-height: 150px;
	}
}
