/*------------------------------------- Global Settings ----------------------------*/
body{
	margin:0;
	padding:0;
	font-size:16px;
	background:#000;
	font-family: 'Oswald', sans-serif;	
}
.color-white{
	color:white;
}
.center-text{
	text-align:center;
}
.font-cursive{
	font-family:Brush Script std , cursive;
}

/* ---------------------------------------------------------------------------------  */
/*  CSS settings  - NAV Bar - visible only in screen size > 990px  */
.nav-container{
	width:100vw;
	height:10vh;
	background:rgba(150 , 150 , 150 , 0.5); /* transparent to show contents beneath   */
	position:fixed; /* to keep nav fixed on top while scrolling page  */
	top:0;
	left:0;
	display:flex;
	justify-content:flex-end;/* to keep nav right side  */
}

.nav-container a{
	display:inline; 
	color:#fff;
	text-decoration:none;
	padding-top:2vh;
	margin-right:3vw;
	font-weight:bold;
}
.nav-container a:hover{
	font-size:1.5rem;
	color:yellow;
}
							/* -------------------  */
/*  CSS settings  - NAV icon(three bars) - visible only in screen size <= 990px  */
.nav-icon-box{
	display:none;
	padding:2vh 0px 0px 2vw;	
}

.icon-bar{ /* styling three lines of nav icon  */
	width:5vw;
	min-width:30px; /* required in extra small screen size   */
	height:5px;
	background-color:white;
	margin-bottom:1vh;	/* gap between two bars */
}
							/* -------------------  */
/* NAV slider for screen sizes <=990px - visible on click of nav-icons(three bars)   */
.sidenav {	
    height: 100vh;
    width: 0;
    position: fixed; /* to keep slider nav fixed  */
    z-index: 1;     /* and over other content */
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden; /* hide its x-axis side */
    transition: 0.5s;   /* to give smooth slider effect  */
    padding-top: 10vh;
}

.sidenav a {
    padding: 1vh 1vh 1vh 4vh;
    text-decoration: none;
    font-size: 1.5rem;
    color: #aaa;
    display: block;
    transition: 0.3s;/* to give smooth sliding effect  */
}

.sidenav a:hover {
    color: yellow;
	font-weight:bold;
	font-size:2.0rem;
}

.sidenav .closebtn { /* position close button in right corner*/
    position: absolute;
    top: 0;
    right: 1.5vw;
    font-size: 2.5rem;
    margin-left: 3vw;
}

/* ------------------------------------------------------------------------------------------  */

/*  CSS settings  - home-container  and its children elements  */
.home-container{ /*container of home page  */
	height:90vh;
	width:100vw;
	margin-top:10vh;
	background:rgb(20, 110, 130);
	display:flex;	
	justify-content:center;
	align-items:center;
}
.top-line{ /*heading - portfolio */
	color:rgb(220, 250, 170);
	font-weight:bold;	
}
.home-title{ /*title of home page */
	font-size:4rem;	
}
.home-sub-title{ /*sub-title of home page */
	font-size:2rem;	
}
/* ------------------------------------------------------------------------------------------  */

/*  CSS settings  - intro-container - holding About Me Page   */
.intro-container{
	height:auto;	
	width:100vw;
	padding-bottom:15vh;
	background:rgb(150, 30, 50);
	display:flex;	
	justify-content:center;
	align-items:center;
}
.intro-image-box{	/* one-fourth width to contain photo   */
	flex:1;
}
.intro-image-box img{ /* making img responsive   */
	max-height:250px;
	max-width:250px;
	height:100%;
	margin:15vh 10vw auto;
}
.intro-details{ /* three-fourth width to contain introduction   */
	padding-top:10vh;
	padding-bottom: 2vh;
	flex:3;
	padding-right:3vw;
	font-size:2.25rem;	
}

/* Social Media icon : CSS Settings */
.sm-icon-group {
	margin-top: 2.5vh; 
 }
 
 .sm-icon-group .sm-icon {
    margin-right: 1.5vw;	
    width: 3vw; 
}
.sm-icon img{ /* making image responsive  */
	max-width:150px;
	max-height:150px;
	width:100%;
}
/* ------------------------------------------------------------------------------------------  */

/*  CSS settings  - skills-container - holding images of skills acquired / to be acquired  */
.skills-container{
	width:100vw;
	height:auto;
	padding-top:4vh;
	background-color:rgb(240, 180, 120);	
	display:flex;   
	justify-content:space-around; /* creating space around boxes   */
	align-items:stretch; /* respecting width height - will fill container  */
	flex-wrap:wrap; /* will wrap boxes as per width   */
}

.skills-box{/*  to show 4 boxes in this case */
	width:21%;
	margin-bottom:20px;
}

.skills-box img{	/* making image responsive  */	
	max-width:300px;
	width:100%;
	max-height:200px;
}
/* ------------------------------------------------------------------------------------------  */

/*  CSS settings  - experience-container   */	
.experience-container{	
	font-size:2.25rem;
	background:rgb(150, 30, 50);
	padding:3vh 0;	
}
/* ------------------------------------------------------------------------------------------  */

/*  CSS settings  - projects-container - holding images and details of projects done so far  */
.projects-container {
	width: 100vw;
    height:auto;   
	padding: 2vh 0;
	display: flex;  
	justify-content: space-around; /* creating space around boxes   */
	align-items:stretch; /* respecting width height - will fill container  */
	flex-wrap: wrap;     /* will wrap boxes as per width   */
	background:rgb(20, 110, 130);
	margin-bottom:4vh;
}
/*  A box holding images and details of projects done so far  */
.project-box{
	background-color: #eee;
	width: 29.3%;	
	margin-bottom:3vh;  
	display: flex;
	flex-direction: column; /* splitting box vertically */
	font-family: 'Oswald', sans-serif;
}
/*  image box - appearing in top-half of projects-box  */
.project-image-box {	 
	padding:0;
	flex: 1;
}
.project-image-box  img{
	max-width:400px;
	width:100%;
	max-height:250px;    
}
/*  brief - about project - bottom half of projects-box  */
.project-brief {	  
	color:#333;
	height:auto;
	padding:0 2.5vw;
	flex: 1;	  
}
/* a link in foot-note to visit code - styled  */
.git-note{
	font-size:0.75rem;
	text-decoration:none;
	color:#333;
}
/*----------------------------------------------------------------------------------------------*/
/* Media Queries  for all Screen-sizes upto 990px    */
@media screen and (min-width:0px)and (max-width:990px){
	.nav-container{  /*  not to show - nav - when screen squeezed to 990px or less */
		display:none;	
	}
	.nav-icon-box{	/*   show - nav icons (three bars)- when screen squeezed to 990px or less */	
		display:block;
		width:100vw;		
		height:10vh;  
		background-color:rgba(150, 150, 150, 0.8);	
		position:fixed; /*  keeping it fixed even if screen scrolled up or down */
		top:0;
		left:0;		
	}
	.intro-container{
		height:auto;
		padding-bottom:10vh;
		display:flex;		
		flex-direction:column;		
	}
	.intro-image-box{
		height:auto;
		padding:5vh 10vw 0vh 10vw;
		flex:1;
	}	
	.intro-details{
		height:auto;
		padding:0vh 10vw;
		flex:1;				
	}
	.sidenav {
		padding-top: 2vh;
	}
	.sidenav a {
		font-size: 1.25rem;
	}
}
/* Media settings for medium sized screens    */
@media screen and (min-width: 769px) and (max-width:990px){		
	.intro-image-box img{ /*  making image responsive */
		max-height:200px;
		max-width:200px;
		height:100%;		
	}
	.skills-box { /*  to show 3 boxes in this case */	
		width:30%;		
	}
	.experience-container{		
		font-size:1.5rem;		
	}
	.project-box{ /*  to show 2 boxes in this case */
		width:40%;
	}	
}
/* Media Settings - for small sized screen   */
@media screen and (min-width: 481px) and (max-width:768px){
	.intro-image-box img{ /*  making image responsive */
		max-height:150px;
		max-width:150px;
		height:100%;		
	}
	.intro-details{		
		font-size:1.5rem;				
	}
	.skills-box {/*  to show 2 boxes in this case */
		width:40%;		
	}
	.experience-container{		
		font-size:1.25rem;
		padding:5vh 5vw;
	}
	.project-box{
		width:40%;
	}	
}

/* Media Settings - for extra small  size screen like mobile  */
@media screen and (min-width:0px) and (max-width:480px){	
	.home-container{ /* Section height reduced to look nice */
		height:70vh;		
	}
	.home-title{
		font-size:2.0rem;
	}	
	.home-sub-title{
		margin: 0 3vw auto;
		font-size:1.0rem;
	}	
	.intro-image-box img{  /* To make image responsive and size small */
		max-height:100px;
		max-width:100px;
		height:100%;
		margin:0 auto; /*  to position in middle */
	}
	.intro-details{			
		font-size:1.2rem;		
	}
	.experience-container{		
		font-size:1.0rem;		
	}
	.project-box{/* To show one box  */
		width:80%;
	}
	.skills-box { /* To show two skills boxes  */
		width:40%;		
	}
	.skills-box img{ /* To make image responsive and size small */
		max-width:150px;
		width:100%;		
		max-height:100px;		
	}
	
}


