@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
}

.container{
    min-height:100vh; 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
/*************************
    header - styling
    header has two parts.
    1. logo-div - containing logo and helpline
    2. header-links - containing links
*************************/
.top-div{
    height:100px;
    width:100%;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items: center;
    position:relative;
}
.logo-div{
    width:60px;
    height:60px;
    margin-right:100px;
}
.logo{
    height:60px;
    width:60px;
    object-fit: cover;
    border-radius:50%;
}
.name-div{
    margin-right:100px;
}
.co-name-1{
    text-transform: uppercase;
    letter-spacing:0.1rem;
    font-size:18px;
    font-weight:bold;
    padding:2px 8px;
}
.first-span{
    color:#1e4f2a;
    font-size:24px;
    font-weight: bold;
}
.second-span{
    font-size:12px;
    color:yellowgreen;
    margin-left:10px;
}
.co-name-2{
    text-transform:capitalize;
    text-align:center;
    font-size:12px;
    color:#777;
    letter-spacing: 0.10rem;
}
.search-div{
    width:300px;
    height:40px;
    margin-top:10px;
    margin-right:40%;
    border:1px solid #eee;
    display:flex;    
}
.search-div input{
    width:250px;
    height:38px;
    border:none;
    padding-left:30px;
}
.search-div:hover{
    border:1px solid #aaa;
}
.search-div input::placeholder{
    color:#aaa;
}
.search-span{
    width: 50px;
    height:39px;  
    text-align:center;
    background:#ded82b;
    color:white;
    border:none;
    font-weight:bold;
    letter-spacing: 0.05rem;
    padding-top:10px;
}
.cart-div{
    background-color: #ded82b;
    color:white;
    padding:10px;
    margin-left:100px;
    height:100px;
    width:200px;
    text-align:center;
    position:absolute;
    right:100px;
    top:0;
    z-index:1;
    font-size:24px;
}
.items-p{
    margin-top:10px;
    margin-bottom:10px;
    font-size:0.75rem;
}
.cart-h3{
    text-transform:uppercase;
    font-size:0.9rem;
    letter-spacing: 0.05rem;

}

/*------------------------------------*/
.nav{
    background-color:rgba(0,0,0,0.9);
    width:100%;
    position:relative;
}

.home-span{
    color:white;
    padding:10px;    
    background-color: #ded82b;
    font-size:24px;
    position:absolute;
    top:0;
    left:80px;
}
.home-span:hover{
    background:yellowgreen;
    cursor:pointer;
}

/* header - header-links : styling */
.nav-links{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:60vw;
    margin-left:10vw;
    height:50px; 
    letter-spacing: 00.05rem; 
    position:relative; 
}
.nav-links .link{
    display:inline;
    text-transform: uppercase;
    font-size:0.75rem;
    color:white;
    font-weight: bold;    
}
.nav-links .link:hover{
    cursor:pointer;
    font-size:0.9rem;
}
.hot-deals-link{
    color:white;
    background:orange;
    height:50px;
    text-transform: uppercase;
    padding:15px 10px;
    font-weight:bold;
    margin-left:50px;
    font-size:0.8rem;
}
.hot-deals-link:hover{
    background:yellowgreen;
    color:wheat;
    cursor:pointer;
}
.nav-sm-div{
    width:200px;
    height:40px;
    position:absolute;
    right:100px;
    top:0;
    padding:10px;    
    color:#777;
    padding-left:10px;
    
}
.nav-sm-div i{
    font-size:18px;
    margin-right:2px;
}
.banner-div{
    height:300px;
    width:100%;
}
.banner-img{
    height:300px;
    width:100%;
    object-fit: cover;
}
/*************************
    main - styling
    main has two components 
    1. sidebar
    2. contents-div
*************************/
.main{
    min-height:300px;
    width:100%;
    background-color: #ddd; 
    display:flex;   
}
.sidebar{
    width:30vw;
    min-height:70vh;
    background:white;
    border-right:1px solid #eee;
    padding-top:25px;
    margin-bottom:20px;
}

/*
    *contents-div styling
    *
    *
*/
.contents-div{
    width:70vw;
    min-height:100vh;
    background:#ddd;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom:2rem;
    padding-top:20px;
    margin-right:10vw;
}
.card{
    height:340px;
    width:225px;
    margin:10px;
    margin-bottom:20px;
    color:#777;
    box-shadow: 2px 2px 5px #333;
}
.card .img-box{
    height:180px;
    width:225px;
    
}
.card .img-box .card-img{
    height:180px;
    width:100%;
    object-fit: cover;
}

.content-box{
    height:120px;    
    background:#fff;
    border-top:1px solid #eee;
}
.item-name{
    text-transform:uppercase;
    font-size:15px;
    text-align:center;
    letter-spacing: 0.05rem;
    font-weight:bold;
    padding:10px 0px;
}
.item-price{
    color:brown;
    text-align:center;
    font-weight:bold;
}
.rating{
    padding-left:10px;
    text-align:center;
    padding-top:10px;
}
.rating i{
    color:yellow;
    margin-top:0.5rem;
    letter-spacing:0.10rem;
    font-size:1rem;
}
.btn-div{
    height:40px;
    width:100%;
    font-size:0.8rem;
    display:flex; 
    border-top:1px solid #eee; 
}
.like-div{
    width:20%;
    border-right:1px solid #aaa;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.liked-div{
    width:20%;
    border-left:1px solid #aaa;
    color:black;
    font-size:20px;
    font-weight:bold;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.liked-div i:hover{
    color:red;
}
.add-to-cart-div{
        width:60%;
        color: #ded82b;
        background-color:white;
        text-align:center;
        text-transform: uppercase;
        font-weight:bold;
        display:flex;
    justify-content: center;
    align-items: center;
}
.add-to-cart-div:hover{
    
    background-color: #ded82b;
    color:white;
    
}

/**************************************** 
    bottom-side-links section - styling
    bottom-side-links-section.
    1. address-box
    2. bottom links
    
****************************************/
.bottom-side-links-section{    
    width:100vw;
    
    padding-left:10vw;
    padding-right:10vw;
    color:white;
    display:flex;
    background-color:rgba(0, 0, 0, 0.9);
}

.bottom-links-nav{
    width:20%;
    height:100%; 
    display: flex;
    flex-direction: column;
    color:#aaa;
}
.bottom-links-nav h4{
    padding:1.25rem 0.75rem 0.75rem 0.25rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size:0.75rem;
}
.bottom-links-nav i{
    vertical-align: middle;
}
.bottom-links-nav li{
    line-height:20px;
}
.bottom-links-nav li a{
    font-size:0.75rem;
    padding-left: 1rem;
    padding-bottom:1rem;
    text-transform: capitalize;
}
.nav-hr{
    width:50px;
    margin-bottom:10px;
    margin-left:0.25rem;
}

/* address-box styling */
.address-box{
    width:30%;
    height:40vh;
    color:#fff;
    padding:1.25rem 1rem;
    font-size: 00.75rem;
    background-color: #ded82b;
    box-shadow: 2px 2px 5px #1e4f2a;
    margin-bottom:2px;
}
.address-box h3{
    padding-bottom:0.75rem;
    text-transform: uppercase;
}
.address-box .company-name{
    font-size:1rem;
    text-transform:capitalize;
    padding-top:0.5rem;
}
.address-box .company-name span:nth-child(1){
    padding-right:4px;
}
.address-box p{    
    padding:0.25rem;
}
.address-box i{
    font-size:18px;
    margin-right:15px;
    vertical-align: middle;
}
/* --------------bottom links section styling ended -------------------*/
/* subscribe-box styling */
.subscribe-box{
    width:30%;
    height:100%;
    color:#ddd;
}
.input-div{
    padding-top:0.75rem;
}
.input-div-title{
    padding:0.75rem 0;
    text-transform: uppercase;
    font-size:0.75rem;
    letter-spacing: 0.05rem;
}
.input-box{
    width:90%;
    margin-bottom:20px;
}
.input-box input{
    width:80%;
    height:35px;
    border:none;
    padding-left:30px;
}
.input-box input::placeholder{
    color:#aaa;
}
.input-box button{
    width:20%;
    height:35px;
    text-align:center;
    background:#1D32f2;
    color:white;
    border:none;
    font-weight:bold;
    letter-spacing: 0.05rem;
}

.social-media-div{
    padding-top:0.5rem;
    border-top:1px solid #aaa;
    
}
.social-media-div-title{
    padding-bottom:1rem;
    padding-top:0.5rem;
    text-transform: uppercase;
    font-size:0.75rem;
    letter-spacing: 0.05rem
}
.sm-span{
    margin:0.5rem;
    font-size:1.5rem;
    cursor: pointer;
}
/*******************************
    footer - styling
    footer has footer-links 
*******************************/
.footer{
    width:100vw;    
    background:rgba(0,0,0,0.8);  
    display:flex;  
    color:white;
}
.footer .img-box{
    width:450px;
    height:80px;
    display:flex;
}
.app-div{
    width:35%;
    margin-left:15%;
}
.app-div h4{
    padding-left:100px;
    padding-bottom:20px;
    padding-top:20px;
    font-size:90%;
    letter-spacing: 0.05rem;
}
.app-img{
    width:150px;
    height:40px;
    object-fit: cover;
    margin:5px;
}
.sm-box{
    display:flex;
    flex-direction: column;
    height:120px;
    width:35%;
}
.sm-box-h4{
    text-transform: uppercase;
    padding:20px 60px;
    font-size:12px;
    letter-spacing: 00.05rem;
}
.sm-div{
    width:100%;
    height:50px;
    padding-bottom:20px;
    display:flex;
    justify-content: baseline;
    align-items:flex-end;
    margin-left:50px;
}