/* styling : for mobile device sizes */
@media screen and (min-device-width:375px) and (max-device-width:768px) {
    .wrapper{
        max-width: 500px;
        min-width:375px;
        margin:10px auto;
        font-size:12px;
        position:relative;    
        overflow: hidden;
    }
    #desktop-nav{
        display:none;  
    }
    .logo-div{
        margin-right:2rem;
    }
    #mobile-nav{
        height:50px;
        display:flex;
        justify-content: center;
        align-items: center;
        position:absolute;
        top:30px;
        left:0px; 
        z-index:1000;  
    }
    #hamburger{
        height:50px;
        width:50px;
        margin-right:80px;
        margin-left:20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #hamburger .bar{
        width:30px;
        height:5px;
        background-color: white;
        margin-bottom:5px;
    }
    .mobile-nav-ul{        
        list-style:none;
        width:100%;
        min-height:80px;
        padding-right:2rem;
        display:flex;
        justify-content: center;
        align-items: flex-start;               
        background:#fff;        
    }
    .hide-ul{ 
        position:absolute;        
        top:0px; 
        transition:transform 0.4s ease-in-out;
        transform:translateX(-110%);
    }    
    .show-ul{
        width:360px; 
        position:absolute;
        left:0px;
        top:0px;
        z-index:2000;        
        transition:transform 0.4s ease-in-out;
        transform:translateX(0px);
    }
    
    .mobile-nav-ul li a{
        text-decoration:none;
        color:black;
        font-size:1.05rem;
    }
    .mobile-nav-ul li{
        padding-left:10px;
        padding-top:2rem;
        margin-right:1rem;
    }
    .mobile-nav-ul li a:hover{
        text-decoration:none;
        color:#777;
        font-size:1.10rem;
        font-weight: bold;
    }
    
    .carousel-slide{
        width:300%;
        height:auto;
        display:flex;        
    }
    
    .slide{    
        width:100%;    
        display:flex;
        flex-direction: column;
    }
    
         /* slides - styling */
         .slide:nth-of-type(1) .hero-img-div{
            background-image:url('./images/mobile-image-hero-1.jpg');
            background-size:100% 380px;
            background-repeat: no-repeat;
        }
        .slide:nth-of-type(2) .hero-img-div{
            background-image:url('./images/mobile-image-hero-2.jpg');
            background-size:100% 380px;
            background-repeat: no-repeat;
        }
        .slide:nth-of-type(3) .hero-img-div{
            background-image:url('./images/mobile-image-hero-3.jpg');
            background-size:100% 380px;
            background-repeat: no-repeat;
        } 
    
    .hero-img-div{
        width:100%;
        height:350px;
    }    
    .hero-description{
        width:100%;
        height:350px;
        padding:1.75rem;    
        display:flex;
        flex-direction: column;
        justify-content: center;  
        background-color: white;  
    }
    .hero-description h2{
        font-size:2rem;
        padding-bottom:0.75rem;
        font-weight:700;
    }
    .hero-description p{
        text-align:justify;
        font-weight:500;
        line-height:1.25rem;
    }
    .hero-description a{
        display:block;
        text-decoration:none;
        font-size:0.8rem;
        font-weight:600;
        color:black;
        text-align:left;
        padding-top:0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        padding-top:15px;
    }
    .shop-div{
        height:50px;
        margin-top:2rem;
        display:flex;
    }
    .shop-div a:hover{
        color:#8d99ae  ;
    }
    .icon-arrow-div{
        height:30px;
        width:70px;
        padding-top:12px;
        margin-left:2rem;
    }
    .icon-arrow{
        height:30px;
        max-width:100%;
    }
    .arrow-div{
        height:50px;
        display:flex;
        position:absolute;
        right:0%;
        top:300px;
    }
    .left-arrow-div{
        height:50px;
        width:50px;
        background-color: black;
        display:flex;
        align-items: center;
        justify-content: center;
        border:2px solid #777;
    }
    .right-arrow-div{
        height:50px;
        width:50px;
        background-color: black;
        display:flex;
        align-items: center;
        justify-content: center;
        border:2px solid #777;
    }
    .left-arrow-div:hover, .right-arrow-div:hover{
        background-color:#8d99ae;
    }
    .arrow-div img{
        width:20px;
        height:20px;
        max-width:100%;
    }
    
    .bottom-div{
        height:auto;
        display:flex;
        flex-direction: column;
    }
    .bottom-div div:nth-of-type(1){
        width:100%;
        height:auto;
        background:beige;
    }
    .bottom-div div:nth-of-type(2){
        width:100%;
        height:auto;
        padding:1.25rem;
        background:white;
    }
    .bottom-div div:nth-of-type(3){
        width:100%;
        height:auto;
    }
    .bottom-div img{
        width:100%;
        height:100%;
    }
    .bottom-div h4{
        padding-bottom: 1rem;
        font-size: 1.25rem;
        font-weight:600;
    }
    .bottom-div p{
        line-height: 1.25rem;
        font-weight: 500;
        text-align: justify;
    }
}