@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Indie+Flower&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:0.85rem;
    font-family: 'Lato', sans-serif;
}
.container{
    background-color: #b9d481;
    width:1300px;
    height:580px;
    display:flex;
    justify-content: center;
    align-items:center;
}
@media screen and (max-width:500px) {
    .container{
        width:100vw;
        height:1700px;
        display:flex;
        flex-direction: column;
    }
    
}
/*---------------------------------------------*/
.box{
    width:270px;
    height:500px;
    background-color:#ebf2fa;
    margin:20px;
}
@media screen and (max-width:500px){
    .box{
        width:300px;
        margin:20px 0;
    }
}
.top-box{
    width:100%;
    height:50%;
    border-radius:50% 0 50% 0;
    background-color: #679436;
    color:#f9e417;
}
.box-heading{
    font-family: 'Ephesis', cursive;
    font-family: 'Indie Flower', cursive;
    font-weight:bold;
    font-size:36px;
    letter-spacing: 0.25rem;
}
.btn-box{
    height:50px;
    width:100%;
    padding-bottom:1rem;
}
.content-box{
    height:200px;
    width:100%;
    color:#679436;
}
.content-box p{
    padding:1.5rem;
}
.sbtn{
    background:#679436;
    color:white;
    font-size:1.10rem;
}