@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Indie+Flower&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:0.85rem;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #b9d481;
    width:100vw;
    height:100vh;
}

.box{
    width:270px;
    height:500px;
    background-color:#ebf2fa;
    margin:20px;
}
.top-box{
    width:100%;
    height:50%;
    border-radius:50% 0 50% 0;
    background-color: #679436;
    color:#f9e417;
}
.box-heading{
    font-family: 'Ephesis', cursive;
    font-family: 'Indie Flower', cursive;
    font-weight:bold;
    font-size:36px;
    letter-spacing: 0.25rem;
}
.btn-box{
    height:50px;
    width:100%;
    padding-bottom:1rem;
}
.content-box{
    height:200px;
    width:100%;
    color:#679436;
}
.sbtn{
    background:#679436;
    color:white;
    font-size:1.10rem;
}