@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,800;1,400;1,500;1,700&family=Barlow:wght@500;600&family=Cedarville+Cursive&family=Commissioner:wght@400;500;700&family=Dancing+Script&family=Epilogue:wght@500;700&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter&family=Kumbh+Sans:wght@400;700&family=Lato&family=League+Spartan:wght@500;600;700&family=Luxurious+Script&family=Open+Sans:wght@400;600;700&family=Overpass:wght@300;600&family=Pinyon+Script&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

:root{
    --clr-bg-main:#f2e9e4;
}
#wrapper{
    padding:2rem 6rem;
}
body{
    background-color:var(--clr-bg-main);
}
button{
    border:none;
}


/* common styling */
nav{
    min-height:60px;
    padding:10px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav-btn{
    background-color: white;
    border:1px solid #333;
    border-radius:25px;
    padding:1rem 2rem;
}

footer{
    min-height:60px;
    padding:3rem 0 1rem 0;    
}
