@media screen and 
    (min-device-width:769px ) and 
    (max-device-width:1440px){
/* for desktop devices */
.testimonials-section{
    grid-column:1 /3;
    grid-row:4;
    padding:4rem 0 3rem 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
 }
 .testimonials-section h2{
     font-size:1.5rem;
     text-transform:uppercase;
     letter-spacing: 0.1rem;
     color:var(--clr-grayish-blue-2);
 }
 .card-container-div{
     min-height:200px;
     display:flex;
     justify-content: center;
 }
 .card{
     min-height:200px;
     width:20%;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin:2rem;
 }
 .testimonials-section .card img{
     width:50px;
     border-radius: 50%;
 }
 .testimonials-section .card p{
     font-size:0.75rem;
     font-weight:normal;
     color:var(--clr-grayish-blue-2);
     text-align:center;
     padding:1rem 0.75rem;
     line-height:1.25rem;
 }
 strong{
     display:block;
     font-family:'Fraunces', sans-serif;
     color:var(--clr-grayish-blue-1);
     margin-top:2rem;
 }
 small{
     display:block;
     font-style:italic;
     color:var(--clr-grayish-blue-3);
 }
}
 /* -----------------------------------------------------------*/
                /* styling for desktop devices */
                /* Main styling  */
/*------------------------------------------------------------*/
@media screen and 
    (min-device-width:769px ) and 
    (max-device-width:1440px){
main{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(4, auto);
    position:relative;
}
.brand-text-div{
    grid-column: 1;
    grid-row:1;
    background-color: var(--clr-white);
    min-height:200px;
    display:flex;
    justify-content: center;
    align-items: center;    
}
.text-box{
    min-height:100px;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;       
}
.text-box h2{
    font-size:2.5rem;
    font-family:'Fraunces', sans-serif;
    padding-bottom:1rem;
}
.text-box p{
    font-size:0.85rem;
    color:var(--clr-grayish-blue-3);
    line-height:1.25rem;
}
.text-box a{
    text-transform:uppercase;
    color:black;
    letter-spacing: 0.1rem;
    font-weight:600;
    text-decoration :none;
    display:block;
    margin-top:1rem;
}
.text-box a:hover{
    cursor:pointer;
    padding-bottom:3px;
    text-decoration:underline solid red;
    text-decoration-thickness: 5px;
}
.brand-image-div{
    grid-column:2;
    grid-row:1;
   
}
.brand-image-div img{
    max-width:100%;
}
.audience-image-div{
    grid-column:1;
    grid-row:2;
    position:relative;
    top:-3px;
}
.audience-image-div img{
    max-width: 100%;
}
.audience-text{
    grid-column:2;
    grid-row:2;
    background-color: var(--clr-white);
    min-height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.activity-section{
    grid-column:1 / 3;
    grid-row:3;
    min-height:300px;
    display:flex;
    position:relative;
    top:-7px;
}
.activity-card{
    width:50%;
    min-height:300px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    padding-bottom:5rem;
}
.activity-card p{
    width:40%;
    font-size:0.75rem;
    text-align:center;
    margin-top:1rem;
    color:var(--clr-grayish-blue-1);
}
.activity-card h2{
    width:50%;
    margin-top:20rem;
    text-align:center;
}

.activity-card:nth-of-type(1){
    background-image:url(./images/desktop/image-graphic-design.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}
.activity-card:nth-of-type(2){
    background-image:url(./images/desktop/image-photography.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}
.gallery{
    grid-column:1/3;
    grid-row:7;
    min-height:100px;
    display:flex;
    flex-wrap:wrap;
}
.gallery img{
    width:25%;
}
    }
 /* styling for large devices */
 @media screen and 
 (min-device-width:769px ) and 
 (max-device-width:1440px){
     header{
         height:550px;
         display:flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;            
         font-family:'Fraunces', sans-serif;
         background-image: url(./images/desktop/image-header.jpg);
         background-size: cover;
         background-position:50% 80%;
     }
    header h1{
         color:var(--clr-white);
         font-size:2rem;
         text-transform: uppercase;
         padding-top:2.25rem;
         letter-spacing: 0.2rem;
     }
     header img{
         margin-top:2rem;
     }

    }

    /*  for large devices */

@media screen and 
(min-device-width:769px ) and 
(max-device-width:1440px){
    .desktop-nav{
        width:100%;
        height:80px;
        display:flex;
        justify-content: space-between;
        align-items: center;            
        font-family:'Barlow', sans-serif;
    }
    .desktop-nav .logo{
        color:var(--clr-white);
        margin-left:2rem;
        width:40%;
        text-align:left;
        font-size:2rem;
        font-weight:600;            
    }
    .desktop-nav ul{
        height:50px;
        width:40%;
        display:flex;
        justify-content: space-evenly;
        align-items: center;    
        color:var(--clr-white);
        margin-right:1rem;
        font-size:0.9rem;
    }
    .desktop-nav .contact-btn{            
        background-color: var(--clr-white);
        color:black;
        text-transform: uppercase;
        border-radius:1.5rem;
        border:none;
        font-size: 0.75rem;
        font-family: 'Fraunces', sans-serif;
    }
    .mobile-nav{
        display:none;
    }
    .mobile-nav-ul{
        visibility:hidden;
        opacity:0;
        width:0;
        height:0;
    }
    .desktop-nav li{
        padding:0.5rem 1rem;
    }
    .desktop-nav li:hover{
        background-color: var(--clr-grayish-blue-3);
        border-radius:1.5rem;
    }
}