* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1rem;
}
button {
	border-radius: 5px;
	border: none;
}
ul {
	list-style-type: none;
}
ul li a {
	text-decoration: none;
}

.p-1 {
	padding: 1rem;
}
.pl-1 {
	padding-left: 1rem;
}
.pb-1 {
	padding-bottom: 1rem;
}
.p2 {
	padding: 2rem;
}
.p-3 {
	padding: 3rem;
}
.pb-2 {
	padding-bottom: 2rem;
}
