/* variables */
:root{
    --clr-1:#66E2DC;
    --clr-2:#FA7453;
    --clr-3:#FFB964;
    --clr-4:#FCFAF9;
    --clr-5:#191826;
}
/* changing browser's default settings */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
button{
    border:none;
}

a{
    text-decoration:none;
}

/* global styling */
.page-wrapper{
    width:80%;
    min-height:80vh;
    margin:0 auto;
    background-image:url(./assets/bg-main-desktop.png);        
}

nav{
    width:100%;
    height:10rem;
    padding-top:2rem;
    display:flex;
    justify-content: start;
    align-items:flex-start;
    
}
nav .logo{
    font-weight:700;
    font-size:2rem;
}

/*---------------------------------------------*/
/*------------custom styling------------------*/
/*---------------------------------------------*/

/*  nav   */
/*mobile */
@media screen 
    and (min-device-width:375px) 
    and (max-device-width:500px) {        
        .page-wrapper{
            width:90%;
            min-height:80vh;
            margin:0 auto;
            background-image:url(./assets/bg-main-desktop.png);        
        }
        nav{
            width:100%;
            height:6rem;
            padding-top:2rem;
            display:flex;
            justify-content: start;
            align-items:flex-start;
            
        }           
}

/* tablet */
@media screen 
    and (min-device-width:501px) 
    and (max-device-width:992px) {
        body{
            background-image:url('./assets/bg-pattern-1.svg');
            background-position:98% 1%;
            background-repeat: no-repeat;
            background-size:200px 300px;
        }
}

/* desktop */
@media screen 
    and (min-device-width:993px) 
    and (max-device-width:1440px) {
        body{
            background-image:url('./assets/bg-pattern-1.svg');
            background-position:98% 1%;
            background-repeat: no-repeat;
            background-size:200px 300px;
        }
}

/*------------custom styling------------------*/
/*  main   */
/*mobile */
@media screen 
    and (min-device-width:375px) 
    and (max-device-width:500px) {        
        .hero-section{
            width:100%;
            padding-top:3rem;
            padding-bottom:16rem;          
        } 
        .hero-section h1{
            width:100%;
            font-size:36px;
            font-weight:700;
            line-height:36px;
            letter-spacing: -1px;
        }
        .hero-section p{
            width:100%;
            font-size:20px;
            line-height:34px;
            font-weight:normal;
            padding-top:3rem;
            color:var(--clr-5);
        }  
        .hero-img-container{
            height:600px; 
            margin-bottom:12rem; 
            border-radius:1rem;          
            background-color:var(--clr-5);
            background-image:url(./assets/bg-pattern-2.svg);
            background-repeat: no-repeat;
            background-size:300px 300px;
            background-position:65% 25%;
            position:relative;
        }
        .hero-img-div-1{
            width:250px;
            border-radius:0.5rem;
            background-color:transparent;
            position: absolute;
            top:-240px;
            left:15%;
            z-index:1;
        }
        .hero-img-div-1 img{
            max-width:100%;
        }
        .hero-img-div-2{
            width:320px;
            padding:2rem;  
            height:auto;          
            border-radius:0.5rem;
            background-color:var(--clr-2);
            color:var(--clr-4);
            position: absolute;
            right:5%;
            bottom:-240px;
            z-index:2;
        }
        .hero-img-div-2 h2{
            font-size:40px;
            line-height:52px;
        }
        .hero-img-div-2 p{
            margin:1rem 0 2rem 0;
            font-size:1rem;
            line-height:27px;
        }
        .currency-para{
            width:50%;
            height:40px;
            position:relative;
        }
        .currency-span{
            font-size:2.5rem;
            font-weight:700;
            margin-right:1rem;
        }
        sup{
            width:80px;
            height:40px;
            position: absolute;
            top:-0.5rem;
        }
        .hero-img-div-2 .btn{
            height:2.5rem;
            width:100%;
            margin-bottom:1rem;
            display:flex;
            justify-content: center;
            align-items: center;            
            border-radius: 0.5rem;
            font-weight:bold;
            font-size:0.90rem;
        }
        .btn img{
            margin-right : 1rem;
        }
        .apple-btn{
            color:var(--clr-4);
            background-color:var(--clr-5);
        }
        .android-btn{
            background-color:var(--clr-4);
            color:var(--clr-5);
        }
}
/* tablet */
@media screen 
    and (min-device-width:501px) 
    and (max-device-width:992px) {
        .hero-section{
            width:90%;
            padding-top:3rem;
            padding-bottom:6rem;          
        } 
        .hero-section h1{
            width:90%;
            font-size:52px;
            font-weight:700;
            line-height:52px;
            letter-spacing: -1px;
        }
        .hero-section p{
            width:90%;
            font-size:20px;
            line-height:34px;
            font-weight:normal;
            padding-top:3rem;
            color:var(--clr-5);
        } 
        .hero-img-container{
            height:600px; 
            margin-bottom:12rem; 
            border-radius:1rem;          
            background-color:var(--clr-5);
            background-image:url(./assets/bg-pattern-2.svg);
            background-repeat: no-repeat;
            background-size:200px 300px;
            background-position:65% 25%;
            position:relative;
        }
        .hero-img-div-1{
            width:250px;
            border-radius:0.5rem;
            background-color:transparent;
            position: absolute;
            top:-70px;
            left:15%;
            z-index:1;
        }
        .hero-img-div-1 img{
            max-width:100%;
        }
        .hero-img-div-2{
            width:320px;
            padding:2rem;  
            height:auto;          
            border-radius:0.5rem;
            background-color:var(--clr-2);
            color:var(--clr-4);
            position: absolute;
            right:12%;
            bottom:-120px;
            z-index:2;
        }
        .hero-img-div-2 h2{
            font-size:40px;
            line-height:52px;
        }
        .hero-img-div-2 p{
            margin:1rem 0 2rem 0;
            font-size:1rem;
            line-height:27px;
        }
        .currency-para{
            width:50%;
            height:40px;
            position:relative;
        }
        .currency-span{
            font-size:2.5rem;
            font-weight:700;
            margin-right:1rem;
        }
        sup{
            width:80px;
            height:40px;
            position: absolute;
            top:-0.5rem;
        }
        .hero-img-div-2 .btn{
            height:2.5rem;
            width:100%;
            margin-bottom:1rem;
            display:flex;
            justify-content: center;
            align-items: center;            
            border-radius: 0.5rem;
            font-weight:bold;
            font-size:0.90rem;
        }
        .btn img{
            margin-right : 1rem;
        }
        .apple-btn{
            color:var(--clr-4);
            background-color:var(--clr-5);
        }
        .android-btn{
            background-color:var(--clr-4);
            color:var(--clr-5);
        }
}
/* desktop */
@media screen 
    and (min-device-width:993px) 
    and (max-device-width:1440px) {
        .hero-section{
            width:90%;
            padding-bottom:6rem;          
        } 
        .hero-section h1{
            font-size:88px;
            font-weight:700;
            line-height:88px;
            letter-spacing: -1px;
        }
        .hero-section p{
            width:90%;
            font-size:20px;
            line-height:34px;
            font-weight:normal;
            padding-top:3rem;
            color:var(--clr-5);
        }
        .hero-img-container{
            height:600px; 
            margin-bottom:12rem; 
            border-radius:1rem;          
            background-color:var(--clr-5);
            background-image:url(./assets/bg-pattern-2.svg);
            background-repeat: no-repeat;
            background-position:center center;
            position:relative;
        }
        .hero-img-div-1{
            width:250px;
            border-radius:0.5rem;
            background-color:transparent;
            position: absolute;
            top:-70px;
            left:15%;
            z-index:1;
        }
        .hero-img-div-1 img{
            max-width:100%;
        }
        .hero-img-div-2{
            width:320px;
            padding:2rem;  
            height:auto;          
            border-radius:0.5rem;
            background-color:var(--clr-2);
            color:var(--clr-4);
            position: absolute;
            right:12%;
            bottom:-100px;
            z-index:2;
        }
        .hero-img-div-2 h2{
            font-size:40px;
            line-height:52px;
        }
        .hero-img-div-2 p{
            margin:1rem 0 2rem 0;
            font-size:1rem;
            line-height:27px;
        }
        .currency-para{
            width:50%;
            height:40px;
            position:relative;
        }
        .currency-span{
            font-size:2.5rem;
            font-weight:700;
            margin-right:1rem;
        }
        sup{
            width:80px;
            height:40px;
            position: absolute;
            top:-0.5rem;
        }
        .hero-img-div-2 .btn{
            height:2.5rem;
            width:100%;
            margin-bottom:1rem;
            display:flex;
            justify-content: center;
            align-items: center;            
            border-radius: 0.5rem;
            font-weight:bold;
            font-size:0.90rem;
        }
        .btn img{
            margin-right : 1rem;
        }
        .apple-btn{
            color:var(--clr-4);
            background-color:var(--clr-5);
        }
        .android-btn{
            background-color:var(--clr-4);
            color:var(--clr-5);
        }

}


/*  footer   */
/*mobile */
@media screen 
    and (min-device-width:375px) 
    and (max-device-width:500px) {
        footer{            
            width:100%;
            padding-top:10rem;
            height:auto;
            display:block;
            
        }
        .footer-logo-div, .footer-text-div, .footer-sm-div{
            display:block;
            margin-bottom:2rem;
        }
        .footer-text-div{
            line-height:24px;
            margin-bottom:3rem;
        }
        .footer-sm-div img{
            margin-right:1rem;
        }
        
}
/*tablet */
@media screen 
    and (min-device-width:501px) 
    and (max-device-width:992px) {
        footer{
            width:100%;
            height:auto;
            display:grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2 , auto);
        }
        .footer-logo-div{
            grid-column: 1 ;
            grid-row:1;
            padding:2rem 0;
            
        }
        .footer-text-div{
            grid-column: 1;
            grid-row:2;  
            padding-bottom:2rem;          
        }
        .footer-text-div p{
            line-height:24px;
        }
        .footer-sm-div{
            grid-column: 2;
            grid-row:1 / span 2;
            min-height:100px;
            display:flex;
            align-items: center;
            justify-content: flex-end;            
        }
        .footer-sm-div img{
            margin-left:1rem;
        }
        .footer-sm-div img:hover{
            transform:scale(1.1);
        }
}
/* desktop */
@media screen 
    and (min-device-width:993px) 
    and (max-device-width:1440px) {
        footer{
            width:100%;
            height:auto;
            display:grid;
            grid-template-columns: repeat(4, 25%);
            grid-template-rows: repeat(1 , 200px);
        }
        .footer-logo-div{
            grid-column: 1 ;            
        }
        .footer-text-div{
            grid-column: 2 / span 2;
        }
        .footer-text-div p{
            line-height:24px;
        }
        .footer-sm-div{
            grid-column: 4;
            display:flex;
            justify-content: flex-end;
        }
        .footer-sm-div img{
            width:25px;
            height:25px;
            margin-left:15px;
        }
        .footer-sm-div img:hover{
            width:30px;
            height:30px;
        }
}