@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Poppins&family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins' , sans-serif;
    background-color: #CAE9FF; /* #E6E1C5  #D4AF89 #F3C5AA*/
}
.page-container{
    max-width:1100px;
    background-color: aliceblue;
    box-shadow:2px 2px 8px rgba(0, 0, 0, 0.9);
    margin:0 auto;
}
a{
    text-decoration:none;
}
/*----------------------------------------------------------------*/

 /* Common styling for Projects and Skills Section */

 .display-section h2{    
    text-align:center;
    padding-top:1rem;
    font-size:2rem;
}
 .display-div{
    min-height:400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.display-div .card h3{
    text-align: center;
    margin:10px 0px;
}
.display-div .card{
    width:320px;    
    padding:20px;
    margin:20px;
    min-height:250px;
    border-radius:10px;
    transition:1s;
}

.display-div .card:hover{
    transform:scale(1.05);
}
.display p{
    margin-top:10px;
    font-size:0.75rem;
}
.btn-div button{
        width:80%;
        height:30px;
        font-size:1rem;
        font-weight: bold;
        letter-spacing: 0.15rem;
        border-radius:5px;
        border:none;
    }

 /* Projects Section Styling */
 .project-section{    
    background-color: #03045e;    
}
.project-section h2{
    color:ghostwhite;    
}
.projects-div{    
    background-color: #03045e; 
    display:flex;
    flex-wrap: wrap;    
}

.projects-div .project-card{    
    background:ghostwhite;
    width:300px;
    height:auto;
    color:rgba(20, 20, 150, 0.8); 
      
}
.projects-div .card p{
    min-height:100px;
    text-align:justify;
}

.projects-div button{
    background:#03045e;
    color:#ddd;
}
.projects-div button:hover{
    background:#4361EE;
    color:#DDD;
    transform:scale(1.03);
    transition:1s;
}
.projects-div a{
    color:ghostwhite;
    cursor:pointer;
}
/**/
 /* Skills Section */
 .skills-section{        
    background-color: ghostwhite;
}
.skills-section h2{
    color:#03045e;    
}
 .skills-div{    
    background-color: ghostwhite;
}

.skills-div .card{    
    color:ghostwhite;
    background-color: #03045e;
    padding-left:2.5rem;    
}


 /* contacts-section styling */
 .contacts-section{
    min-height:250px;
    display:flex;
    flex-direction: column;
    justify-content: center;    
    background-color: #03045e;
    color:ghostwhite;
    padding:20px;
}
.contacts-section h3{
    margin-bottom:20px;
    letter-spacing: 0.15rem;
}
.contacts-section ul{
    list-style-type: none;
}
.contacts-section ul li{
    line-height:2;
}
.contacts-section ul li a{
    text-decoration:none;
    color:#ddd;
    transition: 3s;

}
.contacts-section ul li a:hover{
    font-size:20px;
}
.contacts-section .contacts-card{
    flex:1;
    margin:20px 40px;
}

.contacts-card:nth-of-type(2) {text-align:justify }

.contacts-details p{
    color:#ddd;
}

/* footer section */
.footer-section{
    height:50px;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #001D3D;
    color:#ddd;
    font-size:0.9rem;
}