
  *{
    margin:0;
    padding:0;
  }
  body{
      width:100vw;
      height:100vh;
      display:flex;
      justify-content: center;
      align-items: center;
      background-color: lightskyblue;
  }
  .container{
    width: 400px;
    height: 300px;
    background: #243D83;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
  }
  .square{
    height:120px;
    width:120px;
    background:transparent;
    transform:rotate(45deg);
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .circle{
    height:60px;
    width:60px;
    border-radius:50%;
    background:#EEB850;
  }
  .semi-circle{
    width:100px;
    height:50px;
    background:#6592CF;
    
  }
  .sc-1{
    position:absolute;
    left:210px;
    top:65px;
    transform:rotate(45deg);
    border-radius:100px 100px 0 0 ;
    
  }
  .sc-2{
    position:absolute;
    left:90px;
    top:65px;
    transform:rotate(-45deg);
    border-radius:100px 100px 0 0 ;
    
  }
   .sc-3{
    position:absolute;
    left:90px;
    top:185px;
    transform:rotate(-135deg);
    border-radius:100px 100px 0 0 ;
    
  }
   .sc-4{
    position:absolute;
    right:90px;
    top:185px;
    transform:rotate(135deg);
    border-radius:100px 100px 0 0 ;
    
  }
  

