/* variables */
:root{
    --color-beover:#9e7166;
    --color-cod-gray: #111111;
    --color-mirage: #17192b;
    --color-ebony-clay:#242b37;
    --color-shuttle-gray: #5c6779;
    --success-color:green;
    --error-color:red;
}
/* all elements styling */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#form {
    width: 360px;
    height:auto;        
    padding: 2rem;
    background-color:white;
    border:1px solid #a0a0a0;
    box-shadow: 0px 0px 3px #aaa;
    position:relative;
}

.input-control {
    display: flex;
    flex-direction: column;
}

#email, #username {
    border: none;
    border-bottom:1px solid #c0c0c0; 
    background-color: transparent;       
    display: block;        
    padding: 1rem;
    margin-bottom:0.25rem;
    width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.date-input-div{
    width:100%;
    margin-top:2rem;
    display:flex; 
    justify-content: space-between;
    align-items: baseline;               
}
.date-input-text, .time-input-text{ 
    border:none;
    border-bottom:1px solid #c0c0c0;        
    width:25%;
    height:50px;
    font-size:0.75rem;
}

.date-input, .time-input{
    text-align: center;
    border:none;
    border-bottom:1px solid #c0c0c0; 
    width:20%;
    height:50px;
    margin-left:0.5rem;
}
#select-year,
#select-month,
#select-hour, 
#select-minute, 
#select-day{
    height:50px;
    border:none;
    border-bottom: 1px solid #c0c0c0;
    width:20%;
    text-align: right;
}
#select-am-pm{
    height:50px;
    border:none;
    border-bottom: 1px solid #c0c0c0;
    width:25%;
    text-align: right;
}

input#guest-number{
    width:100%;
    border:none;
    border-bottom:1px solid #c0c0c0;
    height:60px;
}

#form button {
    width:100%;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #111111;
    color:white;
    margin-top:3rem;
    font-weight: bold;
    letter-spacing: 0.08rem;
}
#form button:hover{
    background-color: white;
    border:2px solid black;
    color:black;
}

/************************************/
/* Desktop Devices : styling  */
/************************************/


/* nav and hero div : styling */
@media screen and 
    (min-device-width:993px) and 
    (max-device-width:1440px){
    .wrapper{
        width:100%;
        min-height: 1000px;
        position:relative;
    }
    nav{
        position:absolute;
        top:2rem;
        left:2rem;
        font-size:2.25rem;
        color:white;
        font-family: 'League Spartan', sans-serif;
        letter-spacing: 0.15rem;
        font-weight:700;
    }
    .hero-section-div{
        width:100%;    
        background-image:url(../images/booking/hero-bg-desktop.jpg);       
        display:flex;        
    }
    .hero-section{
        width:50%;
        min-height:400px;
        padding:9rem 3rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-section h1{
        width: 380px;
        padding:2rem 0;
        font-size: 60px;
        letter-spacing: -1px;
        line-height: 60px;
        color: #ffffff;
        font-weight: 300;
        font-family: "League Spartan", sans-serif;
    }
    .hero-section p{
        width: 380px;                                                                                                       
        height: 90px;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        font-family: "League Spartan", sans-serif;
    }

/* form styling */
    .hero-form-div{
        width:50%;
        display:flex;
        justify-content: center;
        align-items: center;
        position:relative;        
    }
    #form{
        top:200px;
    }
    
    
      
}
/* blank div : styling */
@media screen and 
    (min-device-width:993px) and 
    (max-device-width:1440px){
        .blank-div{
            min-height:300px;
            background-color: #ffffff;
        }
}

/* footer styling */

@media screen and 
    (min-device-width:993px) and 
    (max-device-width:1440px){
    footer{
        background-color: #111111;
        color:white;
        padding:3rem 6rem;
        font-family: 'League Spartan', sans-serif;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    footer .logo-div{
        font-size:2.25rem;
        color:white;
        font-family: 'League Spartan', sans-serif;
        letter-spacing: 0.15rem;
        font-weight:700;
    }
    footer .address-div{
        width:50%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        font-size:1rem;
        font-style: normal;
    }
    address{
        font-style:normal;
    }
    address p{
        line-height:24px;
    }
   
    footer .open-time-div h4{
        margin:1rem 0;        
        
    }
    
}

/*-----------------------------------------------*/
/* tablet :styling */
/*-----------------------------------------------*/
/* nav and hero div styling */
@media screen and 
    (min-device-width:501px) and 
    (max-device-width:992px){
    .wrapper{
        width:100%;
        min-height: 1000px;
        position:relative;
    }
    nav{
        position:absolute;
        top:2rem;
        left:2rem;
        font-size:2.25rem;
        color:white;
        font-family: 'League Spartan', sans-serif;
        letter-spacing: 0.15rem;
        font-weight:700;
    }
    .hero-section-div{
        width:100%;    
        background-image:url(../images/booking/hero-bg-desktop.jpg);       
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }
    .hero-section{
        width:100%;
        margin-top:6rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-section h1{
        width: 480px;
        padding-top:6rem;
        margin-bottom:3rem;
        text-align: left;
        font-size: 60px;
        letter-spacing: -1px;
        line-height: 60px;
        color: #ffffff;
        font-weight: 300;
        font-family: "League Spartan", sans-serif;
    }
    .hero-section p{
        width: 480px;                                                                                                       
        font-size: 1.5rem;
        line-height: 2.25rem;
        letter-spacing: 0.04rem;
        color: #ffffff;
        font-family: "League Spartan", sans-serif;
    }
    .hero-form-div{
        width:100%;
        display:flex;
        justify-content: center;
        position:relative;
    }
    #form {
        width: 480px;
        padding:3rem ;
        position:relative;
        top:150px;
    }    
    
}

/* blank div styling */

@media screen and 
    (min-device-width:501px) and 
    (max-device-width:992px){
        .blank-div{
            min-height:250px;
            background-color: #ffffff;
        }
}

/* footer styling */
@media screen and 
    (min-device-width:501px) and 
    (max-device-width:992px){
    footer{
        background-color: #111111;
        color:white;
        padding:3rem 6rem;
        font-family: 'League Spartan', sans-serif;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    footer .logo-div{
        font-size:2.25rem;
        color:white;
        font-family: 'League Spartan', sans-serif;
        letter-spacing: 0.15rem;
        font-weight:700;
    }
    footer .address-div{
        width:70%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        font-size:1rem;
        font-style: normal;
    }
    address{
        font-style:normal;
    }
    address p{
        line-height:24px;
    }
   
    footer .open-time-div h4{
        margin:1rem 0; 
    }    
}
/*-----------------------------------------------*/
/* mobile :styling */
/*-----------------------------------------------*/
/* nav and hero div styling */
@media screen and 
    (min-device-width:375px) and 
    (max-device-width:501px){
    .wrapper{
        width:100%;
        min-height: 1000px;
        position:relative;
    }
    nav{
        position:absolute;
        top:2rem;
        left:2rem;
        font-size:2.25rem;
        color:white;
        font-family: 'League Spartan', sans-serif;
        letter-spacing: 0.15rem;
        font-weight:700;
    }
    .hero-section-div{
        width:100%;    
        background-image:url(../images/booking/hero-bg-desktop.jpg);       
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }
    .hero-section{
        width:100%;
        margin-top:6rem;
        padding:3rem 1rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-section h1{
        width: 360px;
        padding:2rem 0;
        font-size: 60px;
        letter-spacing: -1px;
        line-height: 60px;
        color: #ffffff;
        font-weight: 300;
        font-family: "League Spartan", sans-serif;
    }
    .hero-section p{
        width: 360px;                                                                                                       
        height: 90px;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        font-family: "League Spartan", sans-serif;
    }
    .hero-form-div{
        width:100%;
        display:flex;
        justify-content: center;
        position:relative;
    } 
    #form{
        top:150px;
    }
    
    
}

/* blank div styling */
@media screen and 
    (min-device-width:375px) and 
    (max-device-width:500px){
        .blank-div{
            min-height:250px;
            background-color: #ffffff;
        }
}
/* footer styling */
@media screen and 
    (min-device-width:375px) and 
    (max-device-width:500px){
    footer{
        background-color: #111111;
        color:white;
        padding:3rem;
        font-family: 'League Spartan', sans-serif;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    footer .logo-div{
        font-size:2.25rem;
        color:white;
        font-family: 'League Spartan', sans-serif;
        letter-spacing: 0.15rem;
        font-weight:700;        
    }
    footer .address-div{
        width:100%;
        margin-top:3rem;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size:1rem;
        font-style: normal;
    }
    address{
        font-style:normal;
    }
    address p{
        line-height:24px;
    }
   
    footer .open-time-div h4{
        margin:1rem 0; 
    }    
}