@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
:root {
	--clr-1: #ede0d4;
	--clr-2: #e6ccb2;
	--clr-3: #ddb892;
	--clr-4: #b08968;
	--clr-5: #7f5539;
	--clr-6: #9c6644;
}
body {
	width: 100vw;
	height: 100vh;
	background-color: var(--clr-4);
}
.container {
	width: 600px;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.1);
}
/*-------------common classes for both cards------------------------*/
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.box {
	width: 200px;
	height: 280px;
	margin: 3rem;
	border-radius: 10px;
}
/*-------------common classes for both cards------------------------*/
.box:first-child {
	background: var(--clr-5);
	color: var(--clr-1);
}
.firstline {
	display: block;
	text-align: center;
}
.secondline {
	display: block;
	text-align: center;
}
.img-box {
	margin: 4rem 0 3rem 0;
}
.img-box i {
	font-size: 48px;
	color: var(--clr-1);
}
.lastline {
	text-align: center;
	font-size: 1.3rem;
}
.top-box {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 2rem;
	position: relative;
}
.top-box i {
	font-size: 2.2rem;
	position: absolute;
	top: -10px;
	right: -5px;
	color: var(--clr-1);
}
.box:last-child {
	display: flex;
	flex-direction: column;
}
.box:last-child .sub-box-1 {
	background: var(--clr-5);
	border-radius: 10px 10px 0 0;
	height: 70%;
}

.box:last-child .sub-box-2 {
	background: var(--clr-1);
	border-radius: 0 0 10px 10px;
	height: 30%;
}
.win-p-1,
.win-p-2 {
	color: var(--clr-1);
	padding: 0.5rem 0;
}
.win-p-2 {
	font-size: 3rem;
}
.win-p-3 {
	color: var(--clr-4);
	font-size: 1.5rem;
}
.sub-box-2 p {
	color: var(--clr-5);
	font-size: 0.75rem;
	line-height: 1.1;
	padding: 0.8rem;
	text-align: justify;
}
